<div class="row">
    <div class="col-md-9">
        <div class="card">

            {{ include ('AdminBundle:Intervention/ModuleCard:card/card-header.html.twig', {
                'moduleColor': 'c-bg-lightblue',
                'moduleIcon': '/images/elearning-white.svg',
                'moduleName': 'admin.interventions.mods.chapter'|trans
            }) }}

            <input type="hidden"
                   name="module[{{ data.uniqueId }}][appId]"
                   value="12">
        </div>
    </div>

    <div class="col-md-3 padding-bottom-custom">
    </div>
</div>