{% extends "base_offline.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <div class="container">
        <div class="col-lg-5 col-md-8 col-sm-10 ml-auto mr-auto marg-t-100">
            <div class="card card-login">
                <div class="card-header text-center pad-t-30">
                    {% include 'atoms/images/logo.html.twig' %}
                </div>
                <div class="card-body">
                    <div class="col-md-12 text-center" style="margin-bottom: 20px;">
                        <i style=" color:greenyellow; font-size: 100px;" class="fa fa-check-circle-o"></i>
                        <h2 style="color:#fff; font-size: 30px; font-weight: 900; line-height: normal!important;" >{{ 'resetting.title'|trans }} </h2>

                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 no-padding text-center">
                            <p style="color: #fff;">
                                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                            </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}