
{% trans_default_domain 'FOSUserBundle' %}
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    .card .card-body {
        padding:0.9375rem 30px;
    }
</style>
    <div class="card card-login marg-t-100">
        <div class="card-header text-center pad-t-30">
            {% include 'atoms/images/logo.html.twig' %}
        </div>

        <div class="card-body">
            {% block cardbody %}
                <div class="d-none">
                    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
                    {{ form_widget(form) }}
                    {% set email = form.vars.value.username|default('') %}
                    <div class="col-md-12 no-padding" style="margin-bottom: 15px;">
                        <input id="submit" style="text-transform: capitalize; height: 48px;"  class="btn btn-deepmark-orangelight btn-block" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-12 text-center" style="margin-bottom: 20px; color: white!important;">
                    {% if app.request.query.get('resetAccount') == 1 %}
                        <h2 style="color:#fff; font-size: 27px; font-weight: 900; line-height: normal!important;" >{{ 'resetting.reset.title'|trans }}</h2>
                    {% else %}
                        <h2 style="color:#fff; font-size: 27px; font-weight: 900; line-height: normal!important;" >{{ 'resetting.reset.title'|trans }}</h2>
                        <h5 style="color: white!important;">{{ 'resetting.reset.account_created'|trans }}</h5>
                        <p style="color: white!important;" class="no-margin">{{ 'resetting.reset.account_created'|trans }}</p>
                        <p style="color: white!important; font-weight: 900" >
                            {{ email }}
                        </p>
                        <p style="color: white!important;">{{ 'resetting.reset.create_your_password'|trans }}</p>
                    {% endif %}
                </div>
                <div class="col-md-12 no-padding row ">
                    <div class="input-group col-md-12 no-padding" style="background-color: #fff; margin-bottom: 10px;">
                        <div class="col-md-10 no-padding" style="width: unset!important;" >
                            <span style="position:absolute; left:10px;top:10px; color: #72A5E5; font-size: 20px;" class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input style="padding-left: 50px; height: 48px;color: #72A5E5;background: none!important;padding-top: 0.5rem!important;" type="password" class="form-control" id="password" name="password" required="required"
                                   autocomplete="current-password" placeholder="{{ 'security.login.password'|trans }}"
                                   aria-label="Mot de passe">
                        </div>
                        <div class="col-md-2 no-padding flex--center"   style="width: unset!important;">
                            <a style=" color: #72A5E5; font-size: 20px;" class="input-group-addon pointer">
                                <i toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></i>
                            </a>
                        </div>
                    </div>

                    <div class="input-group col-md-12 no-padding" style="background-color: #fff">
                        <div class="col-md-10 no-padding" style="width: unset!important;" >
                            <span style="position:absolute; left:10px;top:10px; color: #72A5E5; font-size: 20px;" class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input style="padding-left: 50px; height: 48px;color: #72A5E5;background: none!important;padding-top: 0.5rem!important;" type="password" class="form-control" id="confirm-password" name="confirm-password" required="required"
                                   autocomplete="current-password" placeholder="{{ 'resetting.reset.password_confirmation'|trans }}"
                                   aria-label="Mot de passe">
                        </div>
                        <div class="col-md-2 no-padding flex--center"   style="width: unset!important;">
                            <a style=" color: #72A5E5; font-size: 20px;" class="input-group-addon pointer">
                                <i toggle="#confirm-password" class="fa fa-fw fa-eye field-icon toggle-password-confirm"></i>
                            </a>
                        </div>
                    </div>

                </div>
                {% if app.request.query.get('resetAccount') == 0 %}
                    <div class=' col-md-12 flex--center no-padding'>
                        <div class="col-md-12 row no-padding">
                            <div class="form-check text-center no-padding col-md-1" style="text-align: left!important;" >
                                <label class="form-check-label" for="remember_me">
                                    <input class="form-check-input" type="checkbox" value="on"  id="remember_me"
                                           name="_remember_me">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>

                                </label>

                            </div>
                            <div class="col-md-11 no-padding"  style="color: #fff!important; font-size:11px; justify-content: center; padding-top:15px!important;line-height:1.3 ">
                                {{ 'resetting.reset.eu_regulation'|trans }} <a href="{{ app.request.getSchemeAndHttpHost() }}/files/rgpd_charte.pdf" target="_blank" style="text-decoration: underline; font-weight: 900">Charte RGPD</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>

        <div class="card-footer">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <input id="btnGo" style="text-transform: capitalize; height: 48px;"  class="btn btn-deepmark-orangelight btn-block"  value="{% if app.request.query.get('resetAccount') != 1 %}{{ "C'est parti !"|trans }}{% else %} Confirmer{% endif %}" />
            </div>
        </div>
        <input type="hidden" value="{{ app.request.query.get('resetAccount') == 0 ? 1 : 0 }}" id="need_checkbox" name="need_checkbox">
    </div>
<script src="{{ asset('js/lib/material/core/jquery.min.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $(".toggle-password").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
        $(".toggle-password-confirm").click(function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $("#password").blur(function(){
            var password =  $("#password").val();
            $("#fos_user_resetting_form_plainPassword_first").val(password);
        });
        $("#confirm-password").blur(function(){
            var password =  $("#confirm-password").val();
            $("#fos_user_resetting_form_plainPassword_second").val(password);
        });

        $("#btnGo").click(function() {
            let isNeed = $('#need_checkbox').val();
            if (isNeed == 1) {
                if($('#remember_me').is(':checked')){
                    $("#submit").click();
                }
            } else {
                $("#submit").click();
            }
        });
    });
</script>