<style>
    .nav-pills .nav-item .nav-link.active {
        background-color: transparent !important;
    }
    .nav-pills .nav-item .nav-link  {
        border: none !important;
    }
    .nav-pills .nav-item .nav-link:hover {
        background-color: transparent !important;

    }
</style>
<ul class="nav nav-pills justify-content-center marg-t-20" role="tablist">
    {% for i in 1..4 %}
        {% set stepId = "#step"~ i %}
        {% set link = 'admin.interventions.create.nav.step'~i %}
        {% set active = step+1 == i ? 'active': '' %}

        {% set sessionIdentity = session_id is defined and session_id is not null ? session_id : null %}
        {% set canNext = i <= step %}

        <li class="nav-item ">
            <a class="pills-link nav-link {{ active }}"
               data-step="{{ i }}"
               data-template-id="{{ i }}"
               data-toggle="{% if canNext %}tab{% endif %}"
               href="{{ stepId }}">
                {{ link|trans }}
            </a>
        </li>
    {% endfor %}
</ul>

<script src="{{ asset('js/admin/intervention/common.js') }}"></script>
