{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.trainers.trainer_list'|trans }}{% endblock %}

{% block body %}
    <div class="card marg-t-20">
        <div class="row pad-15">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row text-center w-100 padding-bottom-15 pad-t-10">
                    <p class="col-md-12 font-size-25 bold color-header bold text-uppercase">{{ module.name }}</p>
                    <span class="col-md-12 color-header text-uppercase">
                        {{ include('molecules/widgets/module-type.html.twig', { appId: module.storedModuleAppId }) }}
                    </span>
                </div>
            </div>
            <div class="col-md-2 marg-t-10 text-center no-padding-left">
                <a href="{{ url('admin_interventions_show', {id: intervention.getId()}) }}" class="btn btn-block btn-border-yelow btn-padding">{{ 'buttons.back_to_course'|trans }}</a>
            </div>
            <div class="col-md-12 text-center w-100 backgroud-header padding-bottom-15 pad-t-10">
                <span class="bold font-size-20 color-white">{{ 'admin.trainers.trainers_potential'|trans }} ({{ trainers|length }})</span>
            </div>
            <div class="col-md-12 no-padding">
                {{ include('molecules/tables/list-course-trainers-table.html.twig', { trainers: trainers }) }}
            </div>
        </div>
        <div class="row pad-15">
            <div class="col-md-12 text-center w-100 backgroud-header padding-bottom-15 pad-t-10">
                <span class="bold font-size-20 color-white">{{ 'admin.trainers.trainers_affect_by_session'|trans }} ({{ sessions|length }})</span>
            </div>
        </div>
        <div class="card-body no-padding marg-b-20">
            <div class="row col-md-12 no-padding marg-t-20 marg-b-20 " >
                <div class="col-md-4 pad-t-10" >
                    <div  class="row btn-deepmark-light border-radis-30 height-40">
                        <div class="col-md-2 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                        <div class="col-md-8 no-padding ">
                            <input type="text" id="bookSearch" class="w-100 border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                        </div>
                        <div class="col-md-2 flex--center">
                            <i class="fas color-header fa-search"></i>
                        </div>

                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6 text-right">
                    <div class="form-group admin pad-b-0 display-inline">
                        {% if trainers is not empty %}
                            <select id="trainerSelected" class="classic" style="min-width: 200px;">
                                {% for row in trainers %}
                                    <option value="{{ row.trainer.id }}">{{ row.trainer.firstName }} {{ row.trainer.lastName }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </div>
                    <button id="remove" class="trainerAction btn btn-border-yelow">{{ 'global.ask_replacement'|trans }}</button>
                    <button id="assign" class="trainerAction btn btn-deepmark-orangelight">{{ 'global.assign'|trans }}</button>
                </div>
            </div>
            <div class="sessionsList">
                <table id="sessionsTable" class="table table-striped w-100">
                    <thead class="table-header w-100">
                    <tr>
                        <th>{{ 'table.sessions.number_of_sessions'|trans }}</th>
                        <th>{{ 'table.sessions.date'|trans }}</th>
                        <th>{{ 'table.sessions.hours'|trans }}</th>
                        <th>{{ 'table.sessions.address'|trans }}</th>
                        <th>{{ 'table.sessions.learners_assigned'|trans }}</th>
                        <th>{{ 'table.sessions.trainers_assigned'|trans }}</th>
                        <th data-orderable="false">
                            <div class=" form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input check-all-input-datatable" type="checkbox" value="">
                                    <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                                </label>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for session in sessions %}
                        <tr id="{{ session.sessionId }}">
                            <td>{{ 'table.sessions.session'|trans }} {{ loop.index }}</td>
                            <td><span class="d-none">{{ session.startDateTime | date('U') }}</span>{{ session.startDate }}</td>
                            <td>{{ session.startTime }} - {{ session.endTime }}</td>
                            <td>{{ session.address }}</td>
                            <td>{{ session.totalLearners }}/{{ module.quantity }}</td>
                            <td>{{ session.trainers|length > 0 ? session.trainers|join('<br>') : '<span style="color:blue;font-style:italic">en attente</span>' }}
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input check-input" type="checkbox" value="{{ session.sessionId }}">
                                        <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lib/DataTables/natural.js') }}"></script>
    <script>
        $(document).ready(function () {
            let lang = languageDatatable();
            var tableSessions = $('#sessionsTable').DataTable({
                "language": lang,
                "bPaginate": false,
                    "bInfo": false,
                    columnDefs: [
                        { type: 'natural', targets: 0 }
                    ],
                    "order": [[ 0, "asc" ], [ 1, "asc" ]],
                }
            );
            let table = $('#trainerTable').DataTable({
                "language": lang,
                "order": [[ 2, "asc" ], [ 3, "asc" ]],
                    "scrollX": true,
                    "scrollY": false,
                    dom: 'Blfrtip',
                    "bPaginate": false,
                    "bInfo": false,
                    exportOptions: {
                        columns: ':visible'
                    },
                    buttons: [
                    ]
                }
            );
            $(".dataTables_filter").hide();
            $('#bookSearch').keyup(function(){
                tableSessions.search($(this).val()).draw() ;
            })
            $(".check-all-input-datatable").click(function(){
                if($(this).is(":checked")){
                    $('.check-input').attr("checked",true);
                }else{
                    $('.check-input').attr("checked",false);
                }
            });

            $(".trainerAction").click(function (){
                let nameBtn = $(this).text();
                const checkInput = $('input[type="checkbox"]');
                const selectedSessions = [];
                checkInput.each(function () {
                    if(this.checked && this.value !== ""){
                        selectedSessions.push(this.value);
                    }
                });
                if (!selectedSessions.length) {
                    // one or more checkboxes are
                    swal('Warning', '{{"booking.session_messages.select_one_session"|trans}}', 'warning');
                    return;
                }
                var $this = $(this);
                $.ajax({
                    'url': '{{ path('admin_trainers_assgin_trainer_sessions') }}',
                    'method': 'POST',
                    'data' : {
                        'moduleId': '{{ module.id }}',
                        'sessionIds': selectedSessions,
                        'trainerId': $('#trainerSelected option:selected').val(),
                        'action': $this.attr('id')
                    },
                    beforeSend: function() {
                        $this.empty().html('<i class="fa fa-spinner fa-spin"></i> ' + nameBtn);
                    },
                }).done(function (response) {
                    $this.empty().html(nameBtn);
                    swal({
                            title: "Success",
                            text: $this.attr('id') == 'assign' ? '{{"booking.session_messages.assign_trainer_success"|trans}}' : '{{"booking.session_messages.replace_trainer_request"|trans}}',
                            type: "success",
                            confirmButtonClass: "btn-primary",
                            confirmButtonText: "OK",
                            allowOutsideClick: false
                        }).then(function() {
                            location.reload();
                        })

                }).fail(function (response) {
                    swal('Warning', response.responseJSON.titre)
                    $this.empty().html(nameBtn);
                    console.log(response)
                })
            })
        });



    </script>
{% endblock %}

