{% extends "base.html.twig" %}

{% block title %}{{ 'admin.skills.nav.list_of_domain'|trans }}{% endblock %}

{% block pagename %}{{ 'admin.skills.nav.list_of_domain'|trans }}{% endblock %}

{% block body %}
    <div class="row justify-content-center  marg-t-20 marg-b-20"><span class="icon-user_gray"></span>
        {{ include('molecules/cards/nav/admin-skills-nav.html.twig') }}
    </div>
<div class="card marg-t-15">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 marg-t-10">
            <h3 class="bold text-center color-header">{{ 'admin.skills.nav.list_of_domain'|trans }}</h3>
        </div>
        <div class="col-md-3 marg-t-20 no-padding-left text-right ">
            {#<a class="btn btn-sm font-size-10 btn-border-yelow btn-padding-small" href="{{ url('admin_skills_edit') }}">{{ 'admin.skills.nav.create'|trans }}</a>#}
        </div>
    </div>
    <div class="card-body admin">
        <div class="row col-md-12 no-padding z-index" >
            <div class="col-md-4 no-padding">
            </div>
            <div class="col-md-4 no-padding-right pad-t-10" >
                <div  class="row btn-deepmark-light border-radis-30 height-40">
                    <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                    <div class="col-md-7 no-padding ">
                        <input type="text" id="bookSearch" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                    </div>
                    <div class="col-md-2 flex--center">
                        <i class="fas color-header fa-search"></i>
                    </div>

                </div>
            </div>
        </div>
        {{ include('molecules/tables/list-domains-table.html.twig', { domains: domains}) }}
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/lang_datatable.js') }}"></script>
<script>
    $(document).ready(function () {
        let lang = languageDatatable();
        let table = $('#skillTable').DataTable({
                "language": lang,
                "scrollX": true,
                "scrollY": false,
                dom: 'Blfrtip',
                exportOptions: {
                    columns: ':visible'
                },
                buttons: [
                    'csv',
                    'excel',
                    {extend: 'pdfHtml5', orientation: 'landscape', pageSize: 'A3',},
                    'colvis'
                ]

            }
        );

        $('.buttons-colvis').on('click', function () {
            $('.dt-button-collection').addClass('show');
        });
        $(".dataTables_filter").hide();
        $('#bookSearch').keyup(function(){
            table.search($(this).val()).draw() ;
        })
        $('.check-all-input-datatable').change(function() {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $( window ).resize(function() {
            $('#skillTable').DataTable().columns.adjust();
        });

        {#$('#apply').on('click', function () {#}
        {#    let type = $('#typeAction').val();#}
        {#    if (type == 1) {#}
        {#        $("#txt").text("{{ 'popup.entity_delete'|trans|raw }}");#}
        {#    }#}
        {#    $("#deleteModal").modal('show');#}
        {#});#}

        let btn = $('[data-action="minimize-sidebar"]');
        if (btn.length) {
            btn.on('click', function () {
                setTimeout(function() {
                    $('#skillTable').DataTable().columns.adjust();
                }, 300);
            })
        }
    });
</script>
{% endblock %}
