<div
    id="upload-file-modal-text"
    class="template"
    data-progress-header="{{ 'upload_file.progress_header'|trans }}"
    data-success-header="{{ 'upload_file.success_header'|trans }}"
    data-success-comment="{{ 'upload_file.success_comment'|trans }}"
    data-failure-header="{{ 'upload_file.failure_header'|trans }}"
    data-failure-comment="{{ 'upload_file.failure_comment'|trans }}"
    data-failure-uploaded-bytes="{{ 'upload_file.uploaded_bytes'|trans }} {{max_file_size}}">
</div>

<div id="progressbar-upload-template" class="progress c-bg-lightblue template" style="width: 0%"></div>

<script type="text/javascript" src="{{ asset('js/lib/file-upload/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/lib/file-upload/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/file-uploader.js') }}"></script>
