


<div class="card-header">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="#weekActivities" class="nav-link active" data-toggle="tab">
                {{ 'calendar.booked'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a href="#monthActivities" class="nav-link" data-toggle="tab">
                {{ 'calendar.my_month_planning'|trans }}
            </a>
        </li>

        <li class="nav-item">
            <a href="#visio" class="nav-link" data-toggle="tab">{{ 'learners.courses.session'|trans }}</a>
        </li>
    </ul>
</div>

{% if isBooked %}
    It's booked
{% else %}
    Its not booked
{% endif %}
<div class="card-body">
    <div class="tab-content tab-space">
        <div class="tab-pane active" id="weekActivities">
            {% if module.subject and module.subject.designation %}
                <h4 class="text-center">{{ module.subject.designation }}</h4>
            {% endif %}
            <h5 class="text-center">{{ module.designation }}</h5>
            <p class="text-center">

            </p>
            {{ include('molecules/courses/instructions.html.twig') }}


            <h4 class="text-center">{{ 'booking.book_slot'|trans }}</h4>

            {{ include('molecules/pagination/pagination.html.twig', { link: '/learner/courses/calendars/' ~ module.id,
                paginationtype: 'week',
                period: 'week',
                modifier: 'weekcalendar'}) }}
            <div id="fullCalendarWeek"></div>
            <p class="text-right">
                <b>{{ 'global.from'|trans|capitalize }}</b> {{ module.beginning|date('Y-m-d') }}
                <b>{{ 'global.to'|trans }}</b> {{ module.ending|date('Y-m-d') }}
                <br>
                {{ 'booking.duration'|trans }} : {{ module.duration|date('H:i:s') }}
            </p>
        </div>

        <div class="tab-pane" id="monthActivities">
            {{ include('molecules/pagination/pagination.html.twig', { link: '/learner/courses/calendars/' ~ module.id,
                paginationtype: 'month',
                period: 'month',
                modifier: 'monthcalendar'}) }}

            <div id="fullCalendarMonth"></div>
        </div>

        <div class="tab-pane" id="visio">

            {% if visio %}
                <iframe class="courses-quiz" src="{{ visio.joinUrl }}"></iframe>
            {% else %}
                <p>{{ 'learners.courses.book_to_join_webinar'|trans }}</p>
            {% endif %}
            <h4 style="margin-top: 25px;">
                {{ module.designation }}
            </h4>
        </div>
    </div>
    {{ include('molecules/courses/notation.html.twig') }}
    <div class="text-right">
        <a class="btn btn-deepmark-orangelight" href="{{ path('learner_courses_module', { 'id': next_module.id }) }}?doneModule={{ module.id }}">{{ 'buttons.next_step'|trans }}</a>
    </div>
</div>
