<div class="learnerTrainerList col-md-12 marg-b-10">
    <div class="row col-md-12 z-index">
        <div class="col-md-4 no-padding">
        </div>
        <div class="col-md-4 no-padding-right pad-t-10" >
            <div  class="row btn-deepmark-light border-radis-30 height-40">
                <div class="col-md-3 text-center no-padding color-header font-size-10 flex--center ">{{ 'search.content'|trans }}</div>
                <div class="col-md-7 no-padding ">
                    <input type="text" id="{{ type }}Search" class="border-0 height-100 no-padding no-margin color-header backgroud-deepmark-light">
                </div>
                <div class="col-md-2 flex--center">
                    <i class="fas color-header fa-search"></i>
                </div>
            </div>
        </div>
        {% if type == 'toAssignTable' %}
            <div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" name="select_{{ type }}" class="classic">
                        {% for trainer in trainers %}
                            <option value="{{ trainer.id }}">{{ trainer.displayName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ status }}</button>
            </div>
        {% elseif type == 'toValidationTable' %}
            <div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" name="select_{{ type }}" class="classic">
                        <option value="1">  {{ 'trainers.exercises.status.validated'|trans }}  </option>
                        <option value="2">  {{ 'trainers.exercises.status.deny'|trans }}  </option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% else %}
            <div class="col-md-3 text-right no-padding-right">
                <div style="margin-top: 17px;" class="form-group pad-b-0">
                    <select id="typeAction" class="classic">
                        <option class="font-size-12" value="3">{{ 'buttons.sendmsg'|trans }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1 no-padding-right">
                <button id="apply_{{ type }}" class="btn btn-deepmark-orangelight btn-block apply">{{ 'global.apply'|trans }}</button>
            </div>
        {% endif %}
    </div>
    <table id="{{ type }}" class="table table-striped w-100 font-size-13">
        <thead class="table-header">
        <tr>
            <th>{{ 'table.organization'|trans }}</th>
            <th>{{ 'table.entity'|trans }}</th>
            <th>{{ 'table.intervention_name'|trans }}</th>
            <th>{{ 'trainers.my_excercise.table.module'|trans|capitalize }}</th>
            <th>{{ 'trainers.my_excercise.table.quiz_question'|trans|capitalize }}</th>
            <th>{{ 'table.learner'|trans }}</th>
            <th>{{ 'global.date_session'|trans|capitalize }}</th>
            <th>{{ 'trainers.my_excercise.table.correction_time'|trans|capitalize }}</th>
            {% if type != 'toAssignTable' and type != 'toDoTable' %}
                <th>{{ 'trainers.my_excercise.table.point'|trans|capitalize }}</th>
            {% endif %}
            <th>{{ 'trainers.my_excercise.table.maximum_correction_time'|trans|capitalize }}</th>
            {% if type == 'validatedTable' or type == 'rejectedTable' %}
                <th>{{ 'popup.comment'|trans|capitalize }}</th>
            {% endif %}
            {% if type != 'toAssignTable' %}
                <th>{{ 'trainers.my_excercise.table.trainer'|trans|capitalize }}</th>
                <th data-orderable="false">{{ 'admin.entity.actions'|trans }}</th>
            {% endif %}
            <th data-orderable="false" class="justify-content-center">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input check-all-{{ type }}" type="checkbox" value="">
                        <span class="form-check-sign">
                                            <span class="check"></span>
                            </span>
                    </label>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if exercises is defined %}
            {% for exercise in exercises %}
                <tr>
                    <td>
                        {{ exercisesUsers[exercise.id].entity.organisation.designation|default('') }}
                    </td>
                    <td>{{ exercisesUsers[exercise.id].entity.designation|default('') }}</td>
                    <td>{{ exercise.play.module.intervention.designation }}</td>
                    <td>
                        {{ exercise.play.module.designation }}
                    </td>
                    <td data-toggle="tooltip{{ type }}" data-placement="bottom" data-html="true"  data-original-title="{{ exercise.question.question|striptags|raw }}">
                        {{ exercise.question.question|striptags|truncate(150, true, '...')|raw }}
                    </td>
                    <td>{{ exercisesUsers[exercise.id].displayName|default('') }}</td>
                    <td>
                        <span class="d-none">{{ exercise.play.updated|date('U') }}</span>
                        {{ exercise.play.updated|date('d/m/Y H:i:s') }}
                    </td>
                    <td>{{ exercise.play.module.correctionDuration|date('H:i:s') }}</td>
                    {% if type != 'toAssignTable' and type != 'toDoTable' %}
                        <td>
                            {% if exercise.exercises.grade is defined and exercise.exercises.grade is not null %}
                                {{ (exercise.exercises.grade / 100 *  exercise.question.score_to_pass)|round(2, 'floor')|number_format(2) }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>{#{{ exercise.play.module.correctionDurationMax|date('H:i:s') }}#}
                        {% if exercise.play.module.correctionDurationDays is not null %}
                            {% set durationMax = exercise.play.module.correctionDurationMax %}
                            {% if exercise.play.updated|date_modify("+" ~ exercise.play.module.correctionDurationDays ~ " day") < durationMax %}
                                {% set day = exercise.play.updated|date_modify("+" ~ exercise.play.module.correctionDurationDays ~ " day") %}
                                <span class="d-none">{{ day|date('U') }}</span>
                                {{ day|date("d/m/Y") }}
                            {% else %}
                                <span class="d-none">{{ exercise.play.module.correctionDurationMax|date('U') }}</span>
                                {{ exercise.play.module.correctionDurationMax|date('d/m/Y') }}
                            {% endif %}
                        {% else %}
                            <span class="d-none">{{ exercise.play.module.correctionDurationMax|date('U') }}</span>
                            {{ exercise.play.module.correctionDurationMax|date('d/m/Y') }}
                        {% endif %}
                    </td>
                    {% if type == 'validatedTable' or type == 'rejectedTable' %}
                        <td data-toggle="tooltip{{ type }}" data-placement="bottom" data-html="true"  data-original-title="{{ exercise.exercises.comment|striptags|raw }}">
                            {{ exercise.exercises.comment|striptags|truncate(150, true, '...')|raw }}
                        </td>
                    {% endif %}
                    {% if type != 'toAssignTable' %}
                        <td>{{ exercise.exercises.trainer.displayName }}</td>
                        <td>
                            <a href="{{ path('admin_exercices_view', {'id': exercise.id }) }}" class="pointer ">
                                <object  data="/images/eye.svg" width="18" height="18"
                                         type="image/svg+xml"></object>
                            </a>
                        </td>
                    {% endif %}
                    <td>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" name="{{ type }}" type="checkbox" value="{{ type == 'toAssignTable' ? exercise.id : exercise.exercises.id  }}">
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                            </label>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
