{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.library.library_upload'|trans }}{% endblock %}

{% block body %}
    {{ include('molecules/uploadFiles.html.twig', {type: 'Client', route:'admin_library_index', form: form}) }}
{% endblock %}
