<div class="row custom marg-t-20 pb-1 stat-filter">
    <div class="col-md-4 height-120 no-padding period-filter d-none f-search marg-t-10">
        <div class="form-group datepicker-group btn-deepmark-light">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label  class="text-white" for="startDate">{{ 'global.from'|trans }}</label>
            </div>
            <div class="input-group pad-t-10 btn-deepmark-light">
                <input id="startDate" type="text" class="form-control marg-l-10  datepicker" name="start_date" value="">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 height-120 no-padding period-filter d-none f-search marg-t-10">
        <div class="form-group datepicker-group btn-deepmark-light">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="endDate">{{ 'global.to'|trans|capitalize }}</label>
            </div>
            <div class="input-group pad-t-10 btn-deepmark-light">
                <input id="endDate" type="text" class="form-control marg-l-10 datepicker" name="end_date" value="">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fal fa-calendar-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter course-filter global-filter organizationId f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="organizationId">{{ 'trainers.statistics.organization'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="organizationId" class="form-control selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>
                    {% for organisation in organisations %}
                        <option value="{{ organisation.id }}">{{ organisation.designation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter course-filter global-filter entityId f-search f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="entityId">{{ 'trainers.statistics.entity'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="entityId" class="form-control  selectpicker" data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter regionalId f-search  f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="regionalId">{{ 'trainers.statistics.regional_direction'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="regionalId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search  f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="sectorId">{{ 'trainers.statistics.group'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="sectorId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="workplaceId">{{ 'trainers.statistics.workplace'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="workplaceId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="groupId">{{ 'global.trainning_group'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="groupId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter global-filter course-filter courseId f-search  f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="courseId" class="text-white">{{ 'table.intervention_name'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="courseId" class="form-control  selectpicker" data-style="btn btn-link">

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 filter no-padding f-search f-2 marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="moduleId">{{ 'table.module_name'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="moduleId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>

                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set moduleType = statisticsSearchParam.moduleType %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="moduleTypeId">{{ 'trainers.statistics.module_type'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="moduleTypeId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>
                    {% for type in moduleType %}
                        <option value="{{ type.id }}">{{ type.designation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-4 no-padding filter f-search f-1 marg-t-10">
        <div class="form-group select-border datepicker-group">
            {% set statuses = statisticsSearchParam.status %}
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="statusId">{{ 'trainers.statistics.status'|trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="statusId" class="form-control  selectpicker" data-style="btn btn-link">
                    <option value="0">All</option>
                    {% for status in statuses %}
                        <option value="{{ status.id }}">{{ status.designation }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-4 no-padding filter course-filter typeStatDiv f-search marg-t-10">
        <div class="form-group select-border datepicker-group">
            <div class="col-md-12 no-padding  btn-deepmark">
                <label class="text-white" for="typeReport">{{ 'trainers.statistics.type_report' | trans }}</label>
            </div>
            <div class="input-group btn-deepmark-light">
                <select id="typeReport" class="form-control selectpicker" data-style="btn btn-link">
                    <option value="1">{{ 'trainers.statistics.type_report_by_course' | trans }}</option>
                    {#<option value="2">{{ 'trainers.statistics.type_report_by_registered_users' | trans }}</option>#}
                    <option value="3">{{ 'trainers.statistics.type_report_by_course_module' | trans }}</option>
                    <option value="4">{{ 'trainers.statistics.type_report_by_module' | trans }}</option>
                    {#<option value="5">{{ 'trainers.statistics.type_report_by_logged_user' | trans }}</option>#}
                    {#<option value="6">{{ 'trainers.statistics.type_report_by_quiz_results' | trans }}</option>#}
                    <option class="d-none" value="7">{{ 'trainers.statistics.type_report_by_module_results' | trans }}</option>
                    <option value="8">{{ 'trainers.statistics.type_report_by_learner_progression' | trans }}</option>
                    <option class="d-none"  value="9">{{ 'trainers.statistics.type_report_by_global' | trans }}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row pad-b-20 pad-t-10">
    <div class="col-md-12 text-center no-padding ">
        <div id="searchDiv" class="form-group no-margin no-padding">
            <button id="searchBtn" class="btn btn-deepmark-orangelight">{{ 'search.content'|trans }}</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let language = $('#locate').val();

        //week action for dashboard
        $('#prevWeekActivities').on('click', function () {
            var start = $('#activitiesWeekStart').val();
            var activitiesWeekStart = GetLastWeekStart(start);
            var activitiesWeekEnd = GetLastWeekEnd(start);

            $('#activitiesWeekStart').val(activitiesWeekStart.format('YYYY-MM-DD'));
            $('#activitiesWeekEnd').val(activitiesWeekEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesWeekStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesWeekEnd.format('DD/MM/YYYY'));
            $('#weekRangeDateActivities').html('<span>'+ activitiesWeekStart.format('DD/MM/YYYY') + '</span>–<span>'+ activitiesWeekEnd.format('DD/MM/YYYY') +'</span>');
        });

        $('#nextWeekActivities').on('click', function () {
            var start = $('#activitiesWeekEnd').val();
            var activitiesWeekStart = GetNextWeekStart(start);
            var activitiesWeekEnd = GetNextWeekEnd(start);

            $('#activitiesWeekStart').val(activitiesWeekStart.format('YYYY-MM-DD'));
            $('#activitiesWeekEnd').val(activitiesWeekEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesWeekStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesWeekEnd.format('DD/MM/YYYY'));
            $('#weekRangeDateActivities').html('<span>'+ activitiesWeekStart.format('DD/MM/YYYY') + '</span>–<span>'+ activitiesWeekEnd.format('DD/MM/YYYY') +'</span>');
        });

        // begin month
        $('#prevMonthActivities').on('click', function () {
            var start = $('#activitiesMonthStart').val();
            var activitiesMonthStart = GetLastMonthStart(start);
            var activitiesMonthEnd = GetLastMonthEnd(start);

            $('#activitiesMonthStart').val(activitiesMonthStart.format('YYYY-MM-DD'));
            $('#activitiesMonthEnd').val(activitiesMonthEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesMonthStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesMonthEnd.format('DD/MM/YYYY'));
            $('#monthRangeDateActivities').html('<span>'+ activitiesMonthStart.locale(language).format('MMMM YYYY') + '</span>');
        });

        $('#nextMonthActivities').on('click', function () {
            var start = $('#activitiesMonthStart').val();
            var activitiesMonthStart = GetNextMonthStart(start);
            var activitiesMonthEnd = GetNextMonthEnd(start);

            $('#activitiesMonthStart').val(activitiesMonthStart.format('YYYY-MM-DD'));
            $('#activitiesMonthEnd').val(activitiesMonthEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesMonthStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesMonthEnd.format('DD/MM/YYYY'));
            $('#monthRangeDateActivities').html('<span>'+ activitiesMonthStart.locale(language).format('MMMM YYYY') + '</span>');
        });
        // end month

        // begin year
        $('#prevYearActivities').on('click', function () {
            var start = $('#activitiesYearStart').val();
            var activitiesYearStart = GetLastYearStart(start);
            var activitiesYearEnd = GetLastYearEnd(start);

            $('#activitiesYearStart').val(activitiesYearStart.format('YYYY-MM-DD'));
            $('#activitiesYearEnd').val(activitiesYearEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesYearStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesYearEnd.format('DD/MM/YYYY'));
            $('#yearRangeDateActivities').html('<span>'+ activitiesYearStart.format('YYYY') + '</span>');
        });

        $('#nextYearActivities').on('click', function () {
            var start = $('#activitiesYearStart').val();
            var activitiesYearStart = GetNextYearStart(start);
            var activitiesYearEnd = GetNextYearEnd(start);

            $('#activitiesYearStart').val(activitiesYearStart.format('YYYY-MM-DD'));
            $('#activitiesYearEnd').val(activitiesYearEnd.format('YYYY-MM-DD'));
            $('#startDate').val(activitiesYearStart.format('DD/MM/YYYY'));
            $('#endDate').val(activitiesYearEnd.format('DD/MM/YYYY'));
            $('#yearRangeDateActivities').html('<span>'+ activitiesYearStart.format('YYYY') + '</span>');
        });
        // end year

        function GetNextWeekStart(today) {
            today = moment(today);

            return today.add(1, 'days');
        }

        function GetNextWeekEnd(today) {
            var nextMonday = GetNextWeekStart(today);

            return nextMonday.add(6, 'days');
        }

        function GetLastWeekStart(today) {
            today = moment(today);

            return today.subtract(7, 'days');
        }

        function GetLastWeekEnd(today) {
            var lastMonday = GetLastWeekStart(today);
            return lastMonday.add(6, 'days');
        }
        //end week action for dashboard

        // begin month
        function GetNextMonthStart(today) {
            today = moment(today);
            var startMonth = today.add(1, 'months');
            return startMonth;
        }

        function GetNextMonthEnd(today) {
            var nextMonth = GetNextMonthStart(today);
            return nextMonth.endOf('month');
        }

        function GetLastMonthStart(today) {
            today = moment(today);
            var startMonth = today.subtract(1, 'months');
            return startMonth;
        }

        function GetLastMonthEnd(today) {
            var lastMonth = GetLastMonthStart(today);
            return lastMonth.endOf('month');
        }
        // end month

        // begin year
        function GetNextYearStart(today) {
            today = moment(today);
            console.log(today)
            var startYear = today.add(1, 'years');
            console.log(startYear)
            return startYear;
        }

        function GetNextYearEnd(today) {
            var nextMonth = GetNextYearStart(today);
            console.log(nextMonth)
            return nextMonth.endOf('year');
        }

        function GetLastYearStart(today) {
            today = moment(today);
            console.log(today)
            var startYear = today.subtract(1, 'years');
            console.log(startYear)
            return startYear;
        }

        function GetLastYearEnd(today) {
            var lastYear = GetLastYearStart(today);
            console.log(lastYear.endOf('year'))
            return lastYear.endOf('year');
        }
        // end month

        $("#organizationId").change(function() {
            $("#entityId").empty();

                let organizationId = $(this).val();
                if(organizationId != '') {
                    $.ajax({
                        type: "POST",
                        url: '/trainer/statistics/organizationEntity',
                        data: {"organizationId": organizationId},
                        success: function (data) {
                            $("#entityId").append($("<option />").val(0).text('All'));
                            $.each(data, function (i, data) {
                                $("#entityId").append($("<option />").val(data.id).text(data.designation));
                            });
                            $('#entityId').selectpicker('refresh');
                        }
                    });
                }
        });
        $("#organizationId").trigger('change');

        $("#entityId").change(function() {
            let entityId = $(this).val();
            let organizationId = $("#organizationId").val();
            if(entityId != '') {
                $("#courseId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/entityCourse',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#courseId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#courseId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#courseId').selectpicker('refresh');
                        $("#courseId").trigger('change');
                    }
                });

                $("#groupId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/entityGroup',
                    data: {"entityId": entityId , 'organizationId': organizationId},
                    success: function (data) {
                        $("#groupId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#groupId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#groupId').selectpicker('refresh');
                    }
                });

                $("#regionalId").empty();
                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/entityRegion',
                    data: {"entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#regionalId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#regionalId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#regionalId').selectpicker('refresh');
                        $("#regionalId").trigger('change');

                    }
                });

            }

        });
        $("#entityId").trigger('change');

        $("#regionalId").change(function() {
            let regionalId = $(this).val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(regionalId != '') {

                $("#sectorId").empty();

                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/regionSector',
                    data: {"regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#sectorId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#sectorId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#sectorId').selectpicker('refresh');

                        $("#sectorId").trigger('change');

                    }

                });

            }

        });

        $("#sectorId").change(function() {
            let sectorId = $(this).val();
            let regionalId = $("#regionalId").val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(sectorId != '') {

                $("#workplaceId").empty();

                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/sectorWorkplace',
                    data: {"sectorId": sectorId, "regionalId": regionalId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#workplaceId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#workplaceId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#workplaceId').selectpicker('refresh');
                    }
                });

            }

        });

        $("#courseId").change(function() {
            let courseId = $(this).val();
            let organizationId = $("#organizationId").val();
            let entityId = $("#entityId").val();
            if(courseId != '') {

                $("#moduleId").empty();

                $.ajax({
                    type: "POST",
                    url: '/trainer/statistics/courseModule',
                    data: {"courseId": courseId, "entityId": entityId, 'organizationId': organizationId},
                    success: function (data) {
                        $("#moduleId").append($("<option />").val(0).text('All'));
                        $.each(data, function (i, data) {
                            $("#moduleId").append($("<option />").val(data.id).text(data.designation));
                        });
                        $('#moduleId').selectpicker('refresh');
                    }
                });

            }

        });
        $("#courseId").trigger('change');

        let locate = $('#locate').val();
        $('#startDate').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: locate
        });
        $('#endDate').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: locate
        });

        $('#startDate').on('dp.change', function(e){
            let startDate = $('#startDate').val();
            $("#startDateTxt").text(startDate);

        })

        $('#endDate').on('dp.change', function(e){
            let endDate = $('#endDate').val();
            $("#endDateTxt").text(endDate);

        })

        $('#searchBtn').click(function() {
            searchHandler();
        });
        $('#exportBtn').click(function() {
            searchHandler(true)
        });
        $('#exportPdfBtn').click(function() {
            searchHandler(true,true)
        });
        $('#exportCourseBtn').click(function() {
            searchHandler(true)
        });
    });
    function dateNewFormat(date) {
        return date = date.split("/").reverse().join("-");
    }
    function searchHandler($isExport = false, $isPdf = false){
        $('.loader').show();
        let dateTimeFrom;
        let dateTimeTo;
        let dateTimeStart = dateNewFormat($('#startDate').val());
        let dateTimeEnd =  dateNewFormat($('#endDate').val());

        let type = $('#typeReport').val();
        let moduleTypeId = $('#moduleTypeId').val();
        let moduleId = $('#moduleId').val();
        let courseId = $('#courseId').val();
        let entityId = $('#entityId').val();
        let organizationId = $('#organizationId').val();
        let regionalId = $('#regionalId').val();
        let sectorId = $('#sectorId').val();
        let workplaceId = $('#workplaceId').val();
        let groupId = $('#groupId').val();
        let statusId = $('#statusId').val();
        let isExport = $isExport;
        let locate = $('#locate').val();
        if (locate == 'fr') {
            locate = '';
        } else {
            locate = '/' + locate;
        }
        if (type != 9) {
            dateTimeStart = '2019-01-01';
            dateTimeEnd = moment().add(12, 'months').format('YYYY-MM-DD');
        }
        if ($isExport) {
            let url = locate + '/trainer/statistics/getStatisticByType?from='+dateTimeStart+'&to='+dateTimeEnd+'&type=all&moduleTypeId='+moduleTypeId+'&moduleId='+moduleId+'&organizationId='+organizationId+'&courseId='+courseId+'&entity_id='+entityId+'&regionalId='+regionalId+'&sectorId='+sectorId+'&workplaceId='+workplaceId+'&isExport=true';
            if (type == 9) {
                url = locate + '/trainer/statistics/getStatisticByType?from='+dateTimeStart+'&to='+dateTimeEnd+'&type='+type+'&moduleTypeId='+moduleTypeId+'&moduleId='+moduleId+'&organizationId='+organizationId+'&courseId='+courseId+'&entity_id='+entityId+'&regionalId='+regionalId+'&sectorId='+sectorId+'&workplaceId='+workplaceId+'&isExport=true';
                if ($isPdf) {
                    url = url + '&isPdf=true';
                }
            }
            $('.loader').hide();
            window.open(url);
        } else {
            let title = $( "#typeReport option:selected" ).text();
            $.ajax({
                url: locate + '/trainer/statistics/getStatisticByType',
                data: {
                    'from': dateTimeStart,
                    'to': dateTimeEnd,
                    'type': type,
                    'moduleTypeId': moduleTypeId,
                    'moduleId': moduleId,
                    'organizationId': organizationId,
                    'courseId': courseId,
                    'entity_id': entityId,
                    'regionalId': regionalId,
                    'sectorId': sectorId,
                    'workplaceId': workplaceId,
                    'groupId': groupId,
                    'statusId': statusId,
                    'isExport': isExport
                },
                success:function(data) {
                    $('.loader').hide();
                    $(".stat-data").removeClass('d-none');
                    $('#tableStatisticsData').html(data);
                    let lang = $('#locate').val();
                    if (lang == 'fr'){
                        lang = {
                            buttons: {
                                colvis: 'Affichage des colonnes '
                            },
                            "sProcessing":     "Traitement en cours...",
                            "sSearch":         "Rechercher&nbsp;:",
                            "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                            "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                            "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                            "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                            "sInfoPostFix":    "",
                            "sLoadingRecords": "Chargement en cours...",
                            "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                            "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                            "oPaginate": {
                                "sFirst":      "Premier",
                                "sPrevious":   "Pr&eacute;c&eacute;dent",
                                "sNext":       "Suivant",
                                "sLast":       "Dernier"
                            },
                            "oAria": {
                                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                                "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                            }
                        }

                    }
                    else {
                        lang = '';
                    }

                    $('#dataTableStatistic').DataTable({
                        "language": lang,
                        dom: 'Bfrtip',
                        "scrollX": true,

                        buttons: [
                            { extend: 'pdfHtml5',  orientation : 'landscape', pageSize : 'A3',filename:title },
                            {
                                extend: 'excel',
                                sheetName: title,
                                filename:title
                            },
                            {
                                extend: 'csv',
                                sheetName: title,
                                filename:title
                            },
                            'colvis'
                        ]
                    });
                    /*
                    // https://datatables.net/extensions/scroller/
                    // https://datatables.net/extensions/scroller/examples/initialisation/server-side_processing.html
                    $('#dataTableStatistic').DataTable({
                        dom: 'Bfrtip',
                        scrollX: true,
                        deferRender:    true,
                        scroller:       true,
                        scrollY: 500,
                        scroller: {
                            loadingIndicator: true
                        },
                        buttons: [
                            'csv',
                            'excel',
                            { extend: 'pdfHtml5',  orientation : 'landscape', pageSize : 'A3', },
                            'colvis'
                        ]
                    });*/
                    $('.buttons-colvis').on('click', function() {
                        $('.dt-button-collection').addClass('show');
                    });
                },
                error:function () {
                }
            });
        }
    }
</script>
