{% macro cardHeader(params) %}
    <ul class="nav nav-pills" role="tablist">
        {% for item in params.items %}
            {% set active = loop.index == 1 ? 'active' : '' %}
            <li class="nav-item">
                <a class="nav-link {{ active }}" id="{{ item.id }}" data-toggle="tab" href="{{ item.link }}" role="tablist">
                    {% if item.icon is defined %}
                        <i class="{{ item.iconClass }}"></i>
                    {% endif %}
                    {{ item.title }}
                    {% if item.count %}
                        <span class="badge badge-deepmark-navy">
                            {{ item.count }}
                        </span>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}