label {
	margin-bottom: 0;
}

legend {
	font-size: 1rem;
}

textarea {
	resize: none!important;
}

label.required::after {
	content: '*';
	margin-left: .5em;
}

select {
	max-width: 300px;
}

input {
	&[readonly] {
		background-color: white;
		cursor: text;
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
}

input[type="file"] {}

input[type="number"] {
	border: 1px solid $deepmark;
	border-radius: 5px;
	padding: 7.5px 5px;
	max-width: 140px;
	text-align: center;
}

.form {
	.form-control {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		font-size: 14px;
		color: $deepmark-mediumgray;
		box-shadow: none;
		display: block;

	}

	.input-group-text {
		background: none;
		border: none;
		border-radius: 0;
	}

	.input-group {
		margin-bottom: 15px;
	}
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;

	.filter-option-inner-inner {
		font-size: 14px;
		text-transform: none;
		color: $deepmark-mediumgray;
		//padding-left: 10px;
	}
}

.bootstrap-select {
	.dropdown-item {
		&.active, &:hover {
			background: $deepmark-orangelight;
		}
	}
}

.form-check {
	.form-check-input:checked~.circle {	border: 1px solid $deepmark; }
	.form-check-label .circle .check { background-color: $deepmark; }
	.form-check-input:checked+.form-check-sign .check { background: $deepmark-orangelight; }

	&--nopadding { padding: 0 !important; }
}

.togglebutton {
	label {
		input[type=checkbox] {
			&:checked {
				&+.toggle {
					background-color: $deepmark-green;

					&:after { border-color: $deepmark-green; }
				}
			}
		}
	}
}

.form-check-sign--nomargintop { top: 0 !important; }
.check-top-align-label { padding-top: 13px; }

.modal-form-separator {
	height: 10px;
	border: 0;
}

.form-separator { border: 0; height: 1px; }

.form-check-label--nopadding { padding: 0 !important; }

.ilblock {
	padding: 0 !important;

	p {
		display: inline-block;
		min-width: 70px;
		margin: 0;
	}

	span {
		position: relative !important;
		display: inline-block !important;
		vertical-align: -2px;
	}
}



.bmd-form-group [class^='bmd-label'],
.bmd-form-group [class*=' bmd-label'] {
	position: relative;
	min-width: 40px;
}
.form-control { border: 0; }

.form-control, .is-focused .form-control {
	background-image: linear-gradient(to top, $deepmark-orangelight 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.is-focused [class^='bmd-label'], .is-focused [class*=' bmd-label'] {
	color: $deepmark-orangelight;
}

.datepicker-group {
	label {
		top: 0 !important;
		margin-bottom: 0 !important;
	}
}

.row {
	[class^='col-'] {
		> .form-check-label {
			display: block;

			> .form-check-sign { top: 0 !important; }
		}
	}
}

.togglebutton-specialmargin {
	margin-top: -5px;

	@media screen and (min-width: 1200px) {
		margin-top: 15px;
	}
}

.timepicker-group-inline {
	label {
		display: inline-block !important;
		vertical-align: -6px !important;
	}

	.form-control {
		display: inline-block !important;
		width: auto !important;
		margin-left: 10px !important;
	}
}

.form-check--nopadding { padding: 0 !important; }

.navbar-form {
	.form-control {
		border-bottom: 1px solid $deepmark-lightgray;
		background: transparent !important;
	}
}

.duration-group {
	display: flex;
	align-items: baseline;
	.form-control {
		max-width: 80px;
	}
}

.dm-label {
	color: black;
	font-weight: 500;
}
$checkbox-size: 22px;

.dm-checkbox,
.dm-radio {
	position: absolute;
	opacity: 0;
	& + .dm-label {
		align-items: center;
		display: flex;
		cursor: pointer;
		position: relative;
	}

	& + .dm-label::before {
		border: 2px solid $deepmark-lightgray;
		padding: 5px;
		content:'';
		display: block;
		height: $checkbox-size;
		width: $checkbox-size;
		margin-right: .5em;
	}

	&:checked + .dm-label::before {
		background: $deepmark-orangelight;
	}
	// Checkbox can be replace with image
	&:checked + .dm-label::after {
		opacity: 1;
	}

	&:focus + .dm-label::before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}
}

.dm-checkbox {
	& + .dm-label::before {
		border-radius: 5px;
	}
	& + .dm-label::after {
		content: '';
		position: absolute;
		left: 6px;
		top: 10px;
		background: white;
		width: 2px;
		height: 2px;
		opacity: 0;
		transition: opacity .2s ease-in;
		box-shadow:
			2px 0 0 white,
			4px 0 0 white,
			4px -2px 0 white,
			4px -4px 0 white,
			4px -6px 0 white,
			4px -8px 0 white;
		transform: rotate(45deg);
	}
}

.dm-radio {
	& + .dm-label::before {
		border-radius: 100%;
	}
	&:checked + .dm-label::after {
		background: $deepmark-orangelight;
		content: '';
		position: absolute;
		border: 2px solid white;
		border-radius: 100%;
		width: $checkbox-size - 4px;
		height:$checkbox-size - 4px;
		top: 2px;
		left: 2px;
	}
}

.dm-radio-btn {
	input {
		position: absolute;
		opacity: 0;
	}
	input + span {
		cursor: pointer;
		border-radius: 10px;
		color: white;
		display: inline-block;
		background-color: $deepmark-lightgray;
		padding: 5px;
		margin: 2px 3px;
		transition: all 100ms ease-in;
		text-align: center;
	}

	input:checked + span {
		background-color: $deepmark-orangelight;
		font-weight: 700;
	}
}
#online-calendar-modal {
	.dm-radio-btn input:disabled + span {
		background-color: grey !important;
	}
}
