<form class="form form-horizontal">
    <div class="row align-items-end">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header--nomargin card-header-orangelight">
                    <button type="button" class="card-title btn btn-link card-title-duplicate">
                        Duplicate
                        <i class="fal fa-copy"></i>
                    </button>

                    <h4 class="card-title">
                        <i class="fal fa-box-open"></i>{{ 'admin.interventions.mods.elearning'|trans }}
                        <div class="customtitle-wrapper">
                            <input type="text" class="row-field-customtitle form-control" placeholder="Custom title..."
                                   disabled="disabled" value="{{ data.designation|default('') }}">
                        </div>
                        <div class="customDuration" style="color: white;"></div>
                    </h4>
                </div>

                <div class="card-body">
                    <!-- <select class="selectpicker selectSubject" name="selectSubject" data-style="select-with-transition"> </select> -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="audio"> Audio </label>
                                <select class="selectpicker audio" data-style="select-with-transition">
                                    <option>file 1</option>
                                    <option> file 2</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="observationsArea">{{ 'admin.interventions.create.step1.instructions'|trans }}</label>
                                <textarea class="form-control observationsArea"
                                          rows="3">{{ data.description|default('') }}</textarea>
                            </div>

                            <div class="card-videos"></div>

                            <div class="videos__file-inputs">
                                <input class="videos__file-inputs-item" type="file">
                            </div>

                            <div class="local-videos">
                                <div class="add-file">
                                    <div class="input-group">
    									<span class="input-group-btn" style="padding-left: 0 !important;">
    										<span name="btn-file-upload"
                                                  class=" btn-file-upload btn btn-deepmark-orangelight btn-file">
    											Add a file <i class="fal fa-plus"></i><input type="file" name="file"
                                                                                             data-type="body"
                                                                                             class="inputUploadPublicFile"
                                                                                             multiple>
    										</span>
    									</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-deepmark-orangelight btn-sm btnListingUpload"
                        id="btnListingUpload">See uploaded files
                    <i id="iconsFileUpload" style="display:none;" class="fas fa-file ml-3"></i>
                </button>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-6 text-center">
                            <h5 class="modal-form-col-title">Learner</h5>

                            <div class="file-icons">
                                <i class="fal fa-file-alt fa-2x"></i>
                                <i class="fal fa-file-alt fa-2x"></i>
                            </div>

                            <div class="add-file">
                                <div class="input-group">
                  <span class="input-group-btn" style="padding-left: 0 !important;">
                    <span name=""
                          class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                      <i class="fal fa-plus"></i><input type="file" data-type="learner" name="file"
                                                        class="inputUploadFile" multiple="multiple">
                    </span>
                  </span>
                                    <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 text-center">
                            <h5 class="modal-form-col-title">Live Trainers</h5>

                            <div class="file-icons">
                                <i class="fal fa-file-alt fa-2x"></i>
                            </div>

                            <div class="add-file">
                                <div class="input-group">
                  <span class="input-group-btn" style="padding-left: 0 !important;">
                    <span name="btn-file-upload"
                          class="btn-file-upload btn btn-round btn-fab btn-deepmark-navy btn-sm btn-file round-btn-file">
                      <i class="fal fa-plus"></i><input type="file" data-type="trainer" name="file"
                                                        class="inputUploadFile" multiple="multiple">
                    </span>
                  </span>
                                    <input hidden="hidden" type="text" class="form-control" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group datepicker-group">
                <label for="startDate">Start date</label>

                <div class="input-group">
                    <input id="startDate" type="text" class="form-control datepicker"
                           value="{% if data.beginning is defined %}{{ data.beginning|date('d/m/Y') }}{% endif %}">

                    <div class="input-group-append">
            <span class="input-group-text">
              <i class="fal fa-calendar-alt"></i>
            </span>
                    </div>
                </div>
            </div>

            <div class="form-group datepicker-group">
                <label for="endDate">End date</label>

                <div class="input-group">
                    <input id="endDate" type="text" class="form-control datepicker"
                           value="{% if data.ending is defined %}{{ data.ending|date('d/m/Y') }}{% endif %}">

                    <div class="input-group-append">
            <span class="input-group-text">
              <i class="fal fa-calendar-alt"></i>
            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
