{% extends "base.html.twig" %}
{% block body %}
    <style>
        .video-caller {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            height: 100%;
            width: 100%;
        }
        .video-self {
            position: absolute;
            top: -20px;
            right: 2px;
            z-index: 3;
            width: 150px;
            height: 150px;
        }

        .full-w-h{
            width: 100%;
            height: 100%;
        }

        .hide-element {
            display: none;
        }
    </style>
    {% set status_done =  constant('ApiBundle\\Entity\\Status::WITH_BOOKING_DONE') %}
    <div class="row">
        <div class="col-md-7 pad-l-0 pad-r-0">
            <ul class="nav nav-pills no-padding marg-t-10 " role="tablist">
                <li class="nav-item">
                    <a id="absent" data-toggle="modal" data-target="#attend-absent" data-absent_data="1">
                        <button type="button" class="btn btn-sm bg-white color-header text-uppercase pad-15">
                            {{ "trainers.visio.mng_participants"|trans|capitalize }}
                        </button>
                    </a>
                </li>
                {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                <li class="nav-item">
                    <a id="management" data-toggle="modal" data-target="#room-management" data-absent_data="2">
                        <button type="button" class="btn btn-sm bg-white color-header text-uppercase pad-15">
                            {{ "trainers.visio.mng_rooms"|trans|capitalize }}
                        </button>
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
                        {% set roomName = booked.moduleSession.id %}
                    {% else %}
                        {% set roomName = module.id ~ booked.id %}
                    {% endif %}
                    {# <a href="#" onClick="window.open('{{ jitsi_url }}/{{ roomName }}', '', 'scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=610,height=340,left=8,top=230')" style="background-color: #4472C4; margin: 0.3125rem 1px; line-height: 1.5; letter-spacing: 1px; font-size: 0.6875rem; margin: 0.3125rem 1px; position: absolute;" class="text-white pad-15">{{ 'global.connection_meeting_text' |trans }} : {{ jitsi_url }}/{{ roomName }}</a> #}
                </li>
                {% if bookingAgendas and booked.module.signatureNumber > 0 %}
                <li class="nav-item">
                    <a data-toggle="modal" id="signMethod" class="btn btn-sm border-radius-0 btn-deepmark text-white">
                        <div class=" row">
                            <div class="col-md-2 no-padding flex--center"><i class="fa fa-pencil "></i></div>

                            <div class="col-md-10 text-left">
                                <span class="bold">{{ 'global.sign'|trans }}</span><br>
                                <span class="font-weight-light">{{ 'global.attendance_sheet' |trans }}</span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-5 text-right no-padding">
            <ul class="nav nav-pills no-padding marg-t-10 justify-content-end" role="tablist">
                {# <li class="nav-item">
                    <a data-toggle="modal" data-target="#screen-cast" class="btn btn-sm border-radius-0 btn-deepmark text-white pad-15">
                        Share document
                    </a>
                </li> #}
                
                <li class="nav-item">
                    <a data-toggle="modal" data-target="#cancelCourse" class="btn btn-sm border-radius-0 btn-deepmark text-white pad-15">
                        <i class="fas fa-times-circle"></i>
                        {{ 'global.cancel_session'|trans }}
                    </a>
                </li>
                <li class="nav-item" style="margin-right: 0!important;">
                    <button id="quitSession" type="button" class="btn btn-sm border-radius-0 btn-deepmark-orangelight pad-15">{{ 'global.quit_session'|trans }} <i class="fas fa-arrow-right"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row marg-t-10 no-padding">
        <div class="col-md-6 pad-l-0 pad-r-5" id="sharingReview">
            <div class="col-md-12 marg-b-15 bg-white border-radius-10 pad-t-15 pad-b-15">
                <div class="row marg-b-20" style="height: 38px">
                    {# <button id="open2Jitsi" style="background-color: #4472C4;" class="btn btn-sm border-radius-0 btn-deepmark pad-15 m-auto">{{ 'global.connection_meeting_text' |trans }}</button> #}
                    <span id="2JitsiTitle" style="margin: auto; color: #0076fe; text-transform: uppercase; font-size: 20px; font-weight: 900">{{ 'global.viewer' |trans }}</span>
                    <button id="close2Jitsi" style="display: none;" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>

                {# <div id="indicator" style="text-align: center;"></div>
                <div id="videos-container" style="width: 100%;"></div> #}


                <div id="video-2"></div>

                {# <div class="col-md-12 my-doc" >
                    <div class="no-padding no-margin">
                        <div class="row border-top pad-t-10 pad-b-10">
                            <div class="col-md-9 no-padding" style="align-self: center">
                                <input type="text" id="your-url" name="" class="form-control" placeholder="Your url">
                            </div>
                            <div class="col-md-3 no-padding text-right">
                                <a class="btn btn-sm btn-deepmark border-radius-0 text-white open-your-url">
                                    {{ 'global.launch'|trans }}
                                </a>
                            </div>
                        </div>
                    </div> 
                </div> #}
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10" >
                <div class="row pad-t-20">
                    <div class="col-md-3 marg-b-20 text-left">
                        <i class="fal fa-file-alt font-size-30 color-header" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 text-center marg-b-30">
                        <span class="bold font-size-20 color-header">{{ 'global.trainer_document'|trans }}</span>
                    </div>
                    <div class="col-md-3  marg-b-20 text-right">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTrainerDocuments" aria-expanded="true" aria-controls="collapseTrainerDocuments">
                            <i class="fa fa-plus color-header" style="display: none"></i>
                            <i class="fa fa-minus color-header"></i>
                        </a>
                    </div>
                </div>
                <div id="collapseTrainerDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    {% if module.trainerDocument|length != 0 %}
                        {{ include('molecules/tables/trainer-files-list.html.twig', {documents: module.trainerDocument, type: "documents"}) }}
                    {% endif %}
                    {# <div class="row border-top pad-t-10 pad-b-10">
                        <div class="col-md-9 no-padding" style="align-self: center">
                            <input type="text" id="your-url" name="" class="form-control" placeholder="Your url">
                        </div>
                        <div class="col-md-3 no-padding text-right">
                            <a class="btn btn-sm btn-deepmark border-radius-0 text-white open-your-url">
                                {{ 'global.launch'|trans }}
                            </a>
                        </div>
                    </div> #}
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10"  >
                <div class="row pad-t-20">
                    <div class="col-md-3 marg-b-20 text-left">
                        <i class="fal fa-file-alt font-size-30 color-header" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 text-center marg-b-30">
                        <span class="bold font-size-20 color-header">{{ 'global.learner_document'|trans }}</span>
                    </div>
                    <div class="col-md-3  marg-b-20 text-right">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseLearnerDocuments" aria-expanded="true" aria-controls="collapseLearnerDocuments">
                            <i class="fa fa-plus color-header" style="display: none"></i>
                            <i class="fa fa-minus color-header"></i>
                        </a>
                    </div>
                </div>
                <div id="collapseLearnerDocuments" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    {% if module.educationalDocument|length != 0 %}
                        {{ include('molecules/tables/trainer-files-list.html.twig', {documents: module.educationalDocument, type: "documents"}) }}
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 pad-r-0 pad-l-5">
            <div class="col-md-12 row bg-white border-radius-10 marg-b-15 pad-t-15 pad-b-15" style="min-height: 670px">
                <div class="row marg-b-20" style="width: 100%; height: 38px">
                    <span style="margin: auto; color: #0076fe; text-transform: uppercase; font-size: 20px; font-weight: 900">{{ 'global.mainRoom' |trans }}</span>
                </div>
                <div id="video" style="height: 640px!important;">
                    <script src="{{ jitsi_url }}/external_api.js"></script>
                    <script>
                        var url = "{{ jitsi_url }}";
                        var domain = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
                        const parentElement = document.getElementById('video');
                        var roomNameString = "{{ roomName }}";
                        var options = {
                            roomName: roomNameString,
                            width: '100%',
                            height: 640,
                            parentNode: parentElement
                        }
                        var api = new JitsiMeetExternalAPI(domain, options);
                    </script>
                </div>
            </div>
            <div class="col-md-12 marg-b-15 bg-white border-radius-10" >
                <div class="row pad-t-20">
                    <div class="col-md-3 text-left">

                    </div>
                    <div class="col-md-6 text-center marg-b-30">
                        <span class="bold font-size-20 color-header">{{ 'global.my_activities'|trans }}</span>
                    </div>
                    <div class="col-md-3  marg-b-20 text-right">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseActivities" aria-expanded="true" aria-controls="collapseActivities">
                            <i class="fa fa-plus color-header" style="display: none"></i>
                            <i class="fa fa-minus color-header"></i>
                        </a>
                    </div>
                </div>
                <div id="collapseActivities" class="col-md-12 activity panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <ul style="width: 100%" class="no-padding no-margin">
                       {#<li class="row border-top pad-t-10 pad-b-10" >
                           <div class="col-md-9 no-padding align-self-center" >
                               <span>Activity1</span>
                           </div>
                           <div class="col-md-3 no-padding text-right">
                               <a class="color-header  border-radius-0  bg-white border-header btn btn-sm ">
                                   {{ 'global.launch'|trans }}
                               </a>
                           </div>
                       </li>
                       <li class="row border-top pad-t-10 pad-b-10" >
                           <div class="col-md-9 no-padding align-self-center" >
                               <span>Activity2</span>
                           </div>
                           <div class="col-md-3 no-padding text-right">
                               <a class="text-white border-radius-0 btn btn-sm btn-deepmark">
                                   Launch
                               </a>
                           </div>
                       </li>#}
                   </ul>
                </div>
            </div>
        </div>
        <!-- Notes -->
        {#<div class="col-md-6 pad-l-0 pad-r-5">
        </div>
        <div class="col-md-6 pad-r-0 pad-l-5">
            <div class="col-md-12 bg-white border-radius-10 marg-t-10 pad-t-20 text-center row" >
                <section id="notes" class="row col-lg-12">
                    <div class="col-md-3 marg-b-20 text-left">
                        <i class="fa fa-pencil font-size-20 color-header" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-6 text-center marg-b-30">
                        <span class="bold font-size-20 color-header">{{ 'global.my_notes'|trans }}</span>
                    </div>
                    <div class="col-md-3  marg-b-20 text-right">
                        <a style="position: absolute; right: 10px; top: 0px;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNote" aria-expanded="true" aria-controls="collapseNote">
                            <i class="fa fa-plus color-header" style="display: none"></i>
                            <i class="fa fa-minus color-header"></i>
                        </a>
                    </div>
                    <div id="collapseNote" class="col-md-12 panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <textarea id="editor" data-type="notes" aria-label="With textarea" name="notes-learner-text">{{ notes }}</textarea>
                        <div class="row">
                            <div class="col-md-6 text-center pad-t-10">
                                <button data-send="notes" class="btn btn-deepmark btn-sm ">{{ 'buttons.save'|trans|raw }}</button>
                            </div>
                            <div class="col-md-6 text-center pad-t-10">
                                <button class="btn btn-deepmark btn-sm " id="btn-export" onclick="exportHTML();">{{ 'buttons.export_to_word'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>#}
    </div>
    <div id="cancelCourse" class="modal fade col-md-12" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xs" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <h3 class="modal-title no-margin color-header font-size-18 bold text-uppercase">{{ 'global.msg_cancel_session'|trans }}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center marg-t-10 font-size-20">
                    <p class="color-header ">{{ 'global.msg_reason'|trans }}</p>
                    <div class="form-group col-md-12 text-center">
                        <label class="color-header">
                            <input type="radio" value="0" name="cancel_session" />
                            {{ "trainers.visio.absent_cap"|trans}}
                        </label>&nbsp;&nbsp;&nbsp;
                        <label class="color-header">
                            <input type="radio" value="1" name="cancel_session"/>
                            {{ 'trainers.visio.present_cap'|trans }}
                        </label>
                    </div>
                    <div class="form-group col-md-12 text-center font-size-13" >
                        <textarea class="col-md-12 no-border-cmt" name="cmt" rows="4" placeholder="{{ 'global.cancel_session_reason_placeholder'|trans }}" id="cancel_session_cmt"></textarea>
                    </div>

                    <button data-send="cancel_session" type="button" id="validate_cancel_session" class="btn btn-deepmark btn-sm" disabled>
                        {{ "trainers.visio.buttons.validate"|trans}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ include('molecules/tables/search_learners_table.html.twig') }}
    {{ include('molecules/modal/option-signature.html.twig', { module: booked.module }) }}
    {{ include('molecules/modal/digital-signature.html.twig', { module: booked.module }) }}
    {{ include('molecules/modal/importation-signature.html.twig', { module: booked.module }) }}
    {{ include('molecules/modal/share-document.html.twig') }}
    <input type="hidden" name="signatureMethod" id="signatureMethod" value="{{ module.signatureMethod }}">
    <input type="hidden" id="digitalSignatureFirst">
    <input type="hidden" id="typeSignatureId" value="0">
    {% if bookingAgendas and booked.module.signatureNumber > 0 %}
        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
            {{ include('molecules/courses/virtualclass-alert.html.twig', { bookingAgendas: bookingAgendas }) }}
        {% endif %}
        {{ include('molecules/courses/attendance-sheet.html.twig', { bookingAgendas: bookingAgendas }) }}
        {{ include('molecules/courses/attendance-sheet-download.html.twig', { bookingAgendas: bookingAgendas }) }}
    {% endif %}
    <input type="hidden" name="bookingId" id="bookingId" value="{{ booked.id }}">
    {{ include('molecules/courses/attend-absent.html.twig', { bookingAgendas: bookingAgendas }) }}

    {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
        {{ include('molecules/courses/room-management.html.twig', { bookingAgendas: bookingAgendas }) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if bookingAgendas and booked.module.signatureNumber > 0 %}
    <script src="{{ asset('js/lib/signature_pad.min.js') }}"></script>
    {% endif %}
    <script src="{{ jitsi_url }}/external_api.js"></script>
    <script src="{{ asset('js/trainer/attendance-sheet.js') }}"></script>
    <script src="{{ asset('js/learner/courses.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/socket.io.js') }}"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ asset('js/lib/webrtc/BandwidthHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/CodecsHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/DetectRTC.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/IceServersHandler.js') }}"></script>
    <script src="{{ asset('js/lib/webrtc/conference_1.js') }}"></script>
    <script>
        /*CKEDITOR.replace('editor');*/
        let booking_agenda_id = {{ booked.id }};
        let module_id = {{ module.id }};
        let trainer_id = {{ booked.trainer.id }};
        let learner_id = {{ booked.learner.id }};
        let popup = null;

        var SIGNALING_SERVER = "{{ stream_url }}";
        {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
            {% set roomName = booked.moduleSession.id %}
        {% else %}
            {% set roomName = module.id ~ booked.id %}
        {% endif %}
        var channel = "{{roomName}}";
        var sender = Math.round(Math.random() * 999999999) + 999999999;

        io.connect(SIGNALING_SERVER).emit("new-channel", {
            channel: channel,
            sender: sender,
        });

        var socket = io.connect(SIGNALING_SERVER + channel);
            socket.channel = channel;
        socket.on("connect", function () {
            console.log("Connected");
            // if (config.callback) config.callback(socket);
        });

        $(document).ready(function () {
            initBinding();
            initGrading();

            // Automatic open the manage participants popup
            $("#absent").trigger("click");

            // Automatic open the signature method
            let signatureMethod = $('#signatureMethod').val();
            if (signatureMethod == null || signatureMethod=='') {
                // $("#sign").modal("show");
            } else if (signatureMethod == 1) {
                $("#digitalSignatureFirst").val(1);
                // $("#digitalSignature").trigger("click");
            } else if (signatureMethod == 0) {
                // $("#importSignature").trigger("click");
            }

            // Click to the sign method
            $('#signMethod').on('click', function () {
                let signatureMethod = $('#signatureMethod').val();
                if (signatureMethod == null || signatureMethod=='') {
                    $("#sign").modal("show");
                } else if (signatureMethod == 1) {
                    $("#digitalSignatureFirst").val(1);
                    $("#digitalSignature").trigger("click");
                } else if (signatureMethod == 0) {
                    $("#importSignature").trigger("click");
                }
            });

            // Confirm to quit session
            $('#quitSession').on('click', function () {
                let signatureMethod = $('#signatureMethod').val();
                console.log(signatureMethod)
                if (signatureMethod == null || signatureMethod=='') {
                    $("#signMethod").trigger("click");
                } else if (signatureMethod == 1) {
                    $('#digitalSignatureOption').modal('show');
                } else if (signatureMethod == 0) {
                    $('#importationSignatureOption').modal('show');
                }
            });

            // Confirm to quit session
            $('#quitSessionImportationConfirm, #quitSessionDigitalConfirm').on('click', function () {
                window.location.href = "{{ path('trainer_exercices_video_booking_agenda', {'id': booked.module.id, 'bid': booked.id }) }}";
            });

            $('#cancel_session_cmt').on('keyup', function () {
                const isRadioChecked = !!($("input[name=cancel_session]:checked").val());
                const cmtVal = $('#cancel_session_cmt').val();
                if (isRadioChecked && cmtVal && cmtVal !== "") {
                    $('#validate_cancel_session').prop('disabled', false);
                } else {
                    $('#validate_cancel_session').prop('disabled', true);
                }
            });

            $('#cancel_session_absent').on('change', function () {
                const isRadioChecked = !!($("input[name=cancel_session]:checked").val());
                const cmtVal = $('#cancel_session_cmt').val();
                if (isRadioChecked && cmtVal && cmtVal !== "") {
                    $('#validate_cancel_session').prop('disabled', false);
                } else {
                    $('#validate_cancel_session').prop('disabled', true);
                }
            });

            $('#cancel_session_present').on('change', function () {
                const isRadioChecked = !!($("input[name=cancel_session]:checked").val());
                const cmtVal = $('#cancel_session_cmt').val();
                if (isRadioChecked && cmtVal && cmtVal !== "") {
                    $('#validate_cancel_session').prop('disabled', false);
                } else {
                    $('#validate_cancel_session').prop('disabled', true);
                }
            });
        });

        function initBinding() {
            $('[data-send="notes"]').on('click', function () {
                let postAddress = "{{ path('trainer_exercices_save_notes', { 'id': module.id } ) }}";
                let learnerNotes = $('[data-type="notes"]').val();
                let payload = {
                    personType: 'trainer',
                    notes: learnerNotes,
                    moduleId: {{ module.id }},
                    trainerId: {{ booked.trainer.id }},
                    learnerId: {{ booked.learner.id }},
                    bookingAgendaId: {{ booked.id }}
                };
                saveNotes(postAddress, payload);
            });

            $('.alert_session_5_min').on('click', function () {
                let url = "{{ path('trainer_exercices_send_alert') }}";
                let payload = {
                    moduleId: {{ module.id }},
                    trainerId: {{ booked.trainer.id }},
                    learnerId: {{ booked.learner.id }},
                    bookingAgendaId: {{ booked.id }},
                    late: 5
                };
                sendAlert(url, payload);
            });

            $('.alert_session_15_min').on('click', function () {
                let url = "{{ path('trainer_exercices_send_alert') }}";
                let payload = {
                    moduleId: {{ module.id }},
                    trainerId: {{ booked.trainer.id }},
                    learnerId: {{ booked.learner.id }},
                    bookingAgendaId: {{ booked.id }},
                    late: 15
                };
                sendAlert(url, payload);
            });

            $('[data-send="cancel_session"]').on('click', function () {
                let valueToSend = $("input[name='cancel_session']:checked").val();
                const cmtToSend = $("textarea[name='cmt']").val();

                if (isNaN(valueToSend) || !cmtToSend) return;

                let url = "{{ path('trainer_exercices_cancel_session') }}";
                let payload = {
                    statusId: valueToSend,
                    moduleId: {{ module.id }},
                    trainerId: {{ booked.trainer.id }},
                    learnerId: {{ booked.learner.id }},
                    bookingAgendaId: {{ booked.id }}
                };

                makeRequest(url, payload, jsTranslations.cancellation_session_success);
            });
        }

        function saveNotes(url, data) {
            $.ajax({
                'url': url,
                'method': 'POST',
                'data': data
            }).done(function (response) {
                swal("{{ 'global.success_title'|trans }}", "{{ 'global.save_note_success_message'|trans }}", "success", {
                    button: "Ok",
                });
            }).fail(function (response) {
                swal("Error", "Error occurred while saving your notes. Please report the issue to IT department.", "error", {
                    button: "Ok",
                });
            })
        }

        function sendAlert(url, data) {
            $.ajax({
                'url': url,
                'method': 'POST',
                'data': data
            }).done(function (response) {
                swal("Success", "Your email were sent successfully!", "success", {
                    button: "Ok",
                });
            }).fail(function (response) {
                swal("Error", "Error occurred while saving your notes. Please report the issue to IT department.", "error", {
                    button: "Ok",
                });
            })
        }

        function initGrading() {
            $('#report-upload').on('change', function () {
                $('#filename').text(this.files[0].name);
            });
            $('#attendance-report-upload').on('change', function () {
                $('#attendance-filename').text(this.files[0].name);
            });
            $('#report-upload').fileupload({
                'url': "{{ path('trainer_exercices_save_report') }}",
                'dropzone': '.upload-area',
                'dataType': 'json',
                formData: {bookingAgendaId: booking_agenda_id, moduleId: module_id, trainerId: trainer_id, isAttendance: 1},
                'autoUpload': false,
                add: function (e, data) {
                    swal(
                        "Uploading progress", "Your file is being uploaded", "info",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );

                    if (typeof data.files[0] == "undefined") {
                        return;
                    }

                    if (data.files[0].size > 2000000) {

                        swal(
                            "Failed", "The file is too big. Max file size is 2 mb", "warning",
                            {
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }
                        );

                        return;
                    }
                    data.submit();
                }
            }).on('fileuploaddone', function (e, data) {
                swal("Sucess", data.result.file_name, "success", {
                    button: "Ok",
                });
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });

            $('#attendance-report-upload').fileupload({
                'url': "{{ path('trainer_exercices_save_attendance_report') }}",
                'dropzone': '.upload-area',
                'dataType': 'json',
                formData: {moduleId: module_id, trainerId: trainer_id, isAttendance: 1},
                'autoUpload': false,
                add: function (e, data) {
                    swal(
                        "Uploading progress", "Your file is being uploaded", "info",
                        {
                            showCancelButton: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        }
                    );

                    if (typeof data.files[0] == "undefined") {
                        return;
                    }

                    if (data.files[0].size > 2000000) {
                        swal(
                            "Failed", "The file is too big. Max file size is 2 mb", "warning",
                            {
                                showCancelButton: true,
                                closeOnConfirm: false,
                                showLoaderOnConfirm: true
                            }
                        );
                        return;
                    }
                    data.submit();
                }
            }).on('fileuploaddone', function (e, data) {
                swal("Sucess", data.result.file_name, "success", {
                    button: "Ok",
                });
            }).on('fileuploadprogressall', function (e, data) {
            }).on('fileuploadfail', function (e, data) {
                swal("Error", data.result.file_name, "error", {
                    button: "Ok",
                });
            });

            $('[data-send="grade"]').on('click', function () {
                let user = $('[data-grade="user"]'),
                    max = $('[data-grade="max"]'),
                    valueToSend = user.val();
                let scale = max.val();

                if (isNaN(valueToSend) || isNaN(scale)) {
                    swal(
                        "Warning", "Both grade and scale has to be filled", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                } else if(valueToSend > 100) {
                    swal(
                        "Warning", "Grade must <= 100", "warning",
                        {
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }
                    );
                    return;
                }

                let sendUrl = "{{ path('trainer_exercices_save_grade') }}";
                let payload = {
                    'grade': valueToSend,
                    'grade_scale': scale,
                    'booking_agenda_id': booking_agenda_id
                };
                makeRequest(sendUrl, payload);
            });
        }
        $('.preview-file').click(function() {
            // const width = $("#sharingReview").width();
            const fileName = $(this).parent().siblings('.no-padding').find('span').text();
            // console.log("fileName", fileName)
            // $("#divIcon").remove();
            // let url = '{{ amazon_s3_url }}' + '/' + $(this).attr('data-pdf-loader-queue');
            // $('#preview_pdf').attr('src' , '{{ google_view_url }}'+ url + '&embedded=true');
            // $('#preview_pdf').show();
            // $('#preview_pdf').attr('height', '640px');
            // let path = `/trainer/exercices/popup/${$(this).attr('data-pdf-loader-queue')}`;
            let path = `{{ url('app_default_viewer') }}?url={{ amazon_s3_url }}/${$(this).attr('data-pdf-loader-queue')}`;

            if (popup !== null) {
                popup.location = path;
                let popupTitleSetting = setInterval(() => {
                    popup.document.title = fileName;
                    
                    if(popup.document.title.trim() == fileName.trim()) {
                        clearInterval(popupTitleSetting);
                    }
                }, 1000);
                popup.focus();
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
        width=610,height=340,left=8,top=230`
                );
                let popupTitleSetting = setInterval(() => {
                    popup.document.title = fileName;
                    
                    if(popup.document.title.trim() == fileName.trim()) {
                        clearInterval(popupTitleSetting);
                    }
                }, 1000);

                let timer = setInterval(() => {
                    if (popup.closed) {
                        clearInterval(timer);
                        popup = null;
                    }
                }, 1000);

            }
        });
        $('.preview-media').click(function() {
            // const width = $("#sharingReview").width();
            let path = $(this).attr('data-media-loader-queue');
            if (popup !== null) {
                popup.location = path;
                let popupTitleSetting = setInterval(() => {
                    popup.document.title = fileName;
                    
                    if(popup.document.title.trim() == fileName.trim()) {
                        clearInterval(popupTitleSetting);
                    }
                }, 1000);
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
                width=610,height=340,left=8,top=230`
                );

                let timer = setInterval(() => {
                if (popup.closed) {
                    clearInterval(timer);
                    popup = null;
                }
                }, 1000);

                let popupTitleSetting = setInterval(() => {
                    popup.document.title = fileName;
                    
                    if(popup.document.title.trim() == fileName.trim()) {
                        clearInterval(popupTitleSetting);
                    }
                }, 1000);
            }
        });

        $('.open-your-url').click(function() {
            let path = $('#your-url').val();
            if(path.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g) === null) {
                return;
            }
            if (popup !== null) {
                popup.location = path;
            } else {
                popup = window.open(
                path,
                "",
                `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no, width=600,height=300,left=100,top=100`
                );
                let timer = setInterval(() => {
                if (popup.closed) {
                    clearInterval(timer);
                    popup = null;
                }
                }, 1000);
            }
        });
        
        $('#close2Jitsi').click(function() {
            // $('#preview2Jitsi').attr('src' , "");
            // $('#preview2Jitsi').hide();
            $("#video-2").empty();
            // $('#open2Jitsi').show();
            $("#2JitsiTitle").text("{{ 'global.viewer' |trans }}");
            $(this).hide();
            // socket.emit("sharescreen", {
            //     sender: sender,
            //     isShared: false,
            // });

        })
        $(document).on('click', '.open-btn', function() {
            // change the status of the room
            console.log('open-btn')
            let id = $(this).attr("data-id");
            $.ajax({
                'url': '{{ url('api_utility_update_room_status') }}',
                'method': 'POST',
                'data' : {
                    'roomId': id,
                    'statusId': 1
                }
            }).done(function (response) {
                console.log(response)
                if (response.status) {
                    $('#roomStatus_' + id).html(response.message);
                }
            }).fail(function (response) {
                console.log(response)
            })

            socket.emit("toggleJitsi", {
                sender: sender,
                data: { roomId: $(this).data("id"), toggleVal: true }
            });
        });
        $(document).on('click', '.close-btn', function() {
            // change the status of the room
            console.log('close-btn')
            let id = $(this).attr("data-id");
            $.ajax({
                'url': '{{ url('api_utility_update_room_status') }}',
                'method': 'POST',
                'data' : {
                    'roomId': id,
                    'statusId': 0
                }
            }).done(function (response) {
                console.log(response)
                if (response.status) {
                    $('#roomStatus_' + id).html(response.message);
                }
            }).fail(function (response) {
                console.log(response)
            })

            socket.emit("toggleJitsi", {
                sender: sender,
                data: { roomId: $(this).data("id"), toggleVal: false }
            });
        });
        $(document).on('click', '.join-btn', function() {
            $("#video-2").empty();
            var url = "{{ jitsi_url }}";
            var domain = url.replace(/^(?:https?:\/\/)?(?:www\.)?/i, "").split('/')[0];
            const parentElement = document.getElementById('video-2');
            var roomNameString = $(this).data("id");
            var options = {
                roomName: roomNameString,
                width: '100%',
                height: 630,
                parentNode: parentElement
            }
            var api = new JitsiMeetExternalAPI(domain, options);

            api.executeCommand('toggleVideo');
            api.executeCommand('toggleAudio');

            $("#close2Jitsi").show();
            $("#2JitsiTitle").text($(this).data('name'));
        });
        $(document).on('click', '#applyAssignGroupAction', function() {
            let roomId = $(this).data("id");
            const bookingArr = $(this).data("booking");
            console.log("bookingArr", JSON.parse(bookingArr))
            console.log("roomId", roomId);
            socket.emit("changeRoom", {
                sender: sender,
                data: { 
                    roomId: roomId,
                    bookingArr: JSON.parse(bookingArr)
                }
            });
        })
    </script>
<script>
//     var config = {
//   // via: https://github.com/muaz-khan/WebRTC-Experiment/tree/master/socketio-over-nodejs
//   openSocket: function (config) {
//     var SIGNALING_SERVER = "{{ stream_url }}";

//     {% if module.storedModule.appId == constant('\\ApiBundle\\Entity\\StoredModule::VIRTUAL_CLASS') %}
//         {% set roomName = booked.moduleSession.id %}
//     {% else %}
//         {% set roomName = module.id ~ booked.id %}
//     {% endif %}
//     config.channel = config.channel || "{{roomName}}";
//     // config.channel = "fileUsersnguyenanhhoangworkspaceWebRTC-ExperimentPluginfree-Screen-Sharingindexhtml612821786257324";
//     var sender = Math.round(Math.random() * 999999999) + 999999999;

//     io.connect(SIGNALING_SERVER).emit("new-channel", {
//       channel: config.channel,
//       sender: sender,
//     });

//     var socket = io.connect(SIGNALING_SERVER + config.channel);
//     socket.channel = config.channel;
//     socket.on("connect", function () {
//       if (config.callback) config.callback(socket);
//     });

//     socket.send = function (message) {
//       socket.emit("message", {
//         sender: sender,
//         data: message,
//       });
//     };

//     socket.on("message", config.onmessage);
//   },
//   onRemoteStream: function (media) {
//     if (isbroadcaster) return;

//     var video = media.video;
//     $('#videos-container').empty();
//     videosContainer.insertBefore(video, videosContainer.firstChild);

//     document.querySelector(".hide-after-join").style.display = "none";
//   },
//   onRoomFound: function (room) {
//     if (isbroadcaster) return;

//     conferenceUI.joinRoom({
//       roomToken: room.roomToken,
//       joinUser: room.broadcaster,
//     });

//     document.querySelector(".hide-after-join").innerHTML =
//       '<img src="https://www.webrtc-experiment.com/images/key-press.gif" style="margint-top:10px; width:50%;" />';
//   },
//   onNewParticipant: function (numberOfParticipants) {
//     var text = numberOfParticipants + " users are viewing your screen!";

//     if (numberOfParticipants <= 0) {
//       text = "No one is viewing your screen YET.";
//     } else if (numberOfParticipants == 1) {
//       text = "Only one user is viewing your screen!";
//     }

//     document.title = text;
//     showErrorMessage(document.title, "green");
//   },
//   oniceconnectionstatechange: function (state) {
//     var text = "";

//     if (state == "closed" || state == "disconnected") {
//       text = "One of the participants just left.";
//       document.title = text;
//       showErrorMessage(document.title);
//     }

//     if (state == "failed") {
//       text =
//         "Failed to bypass Firewall rules. It seems that target user did not receive your screen. Please ask him reload the page and try again.";
//       document.title = text;
//       showErrorMessage(document.title);
//     }

//     if (state == "connected" || state == "completed") {
//       text = "A user successfully received your screen.";
//       document.title = text;
//       showErrorMessage(document.title, "green");
//     }

//     if (state == "new" || state == "checking") {
//       text = "Someone is trying to join you.";
//       document.title = text;
//       showErrorMessage(document.title, "green");
//     }
//   },
// };

// function showErrorMessage(error, color) {
//   console.log("showErrorMessage -> error", error)
// //   var errorMessage = document.querySelector("#logs-message");
// //   errorMessage.style.color = color || "red";
// //   errorMessage.innerHTML = error;
// //   errorMessage.style.display = "block";
// }

// function getDisplayMediaError(error) {
//   if (location.protocol === "http:") {
//     showErrorMessage("Please test this WebRTC experiment on HTTPS.");
//   } else {
//     showErrorMessage(error.toString());
//   }
// }

// function captureUserMedia(callback) {
//   var video = document.createElement("video");
//   video.muted = true;
//   video.volume = 0;
//   try {
//     video.setAttributeNode(document.createAttribute("autoplay"));
//     video.setAttributeNode(document.createAttribute("playsinline"));
//     video.setAttributeNode(document.createAttribute("controls"));
//     video.style.width = "inherit";
//   } catch (e) {
//     video.setAttribute("autoplay", true);
//     video.setAttribute("playsinline", true);
//     video.setAttribute("controls", true);
//     video.style.width = "inherit";
//   }

//   if (navigator.getDisplayMedia || navigator.mediaDevices.getDisplayMedia) {
//     function onGettingSteam(stream) {
//       console.log("video -> stream", stream.getVideoTracks()[0])
//       console.log("audio -> stream", stream.getAudioTracks()[0])
      
//       video.srcObject = stream;
//         $('#videos-container').empty();
//       videosContainer.insertBefore(video, videosContainer.firstChild);
//       $(".status").addClass("text-success").html("Active");

//       addStreamStopListener(stream, function () {
//         // location.reload();
//         $(".status").removeClass("text-success").html("Inactive");
//       });

//       config.attachStream = stream;
//       callback && callback();

//     //   addStreamStopListener(stream, function () {
//     //     location.reload();
//     //   });

//     //   showPrivateLink();

//       document.querySelector(".hide-after-join").style.display = "none";
//     }
//     const displayMediaOptions = {
//       video: {
//         aspectRatio: 1.7777777777777777,
//         frameRate: 30,
//         height: 480,
//         resizeMode: "crop-and-scale",
//         width: 768,
//         cursor: "always",
//         displaySurface: "browser",
//         logicalSurface: true,
//       },
//       audio: {
//         echoCancellation: true,
//         noiseSuppression: true,
//       }
//     };

//     if (navigator.mediaDevices.getDisplayMedia) {
//       navigator.mediaDevices
//         .getDisplayMedia(displayMediaOptions)
//         .then((stream) => {
//           onGettingSteam(stream);
//         }, getDisplayMediaError)
//         .catch(getDisplayMediaError);
//     } else if (navigator.getDisplayMedia) {
//       navigator
//         .getDisplayMedia(displayMediaOptions)
//         .then((stream) => {
//           onGettingSteam(stream);
//         }, getDisplayMediaError)
//         .catch(getDisplayMediaError);
//     }
//   } else {
//     if (DetectRTC.browser.name === "Chrome") {
//       if (DetectRTC.browser.version == 71) {
//         showErrorMessage(
//           'Please enable "Experimental WebPlatform" flag via chrome://flags.'
//         );
//       } else if (DetectRTC.browser.version < 71) {
//         showErrorMessage("Please upgrade your Chrome browser.");
//       } else {
//         showErrorMessage(
//           "Please make sure that you are not using Chrome on iOS."
//         );
//       }
//     }

//     if (DetectRTC.browser.name === "Firefox") {
//       showErrorMessage("Please upgrade your Firefox browser.");
//     }

//     if (DetectRTC.browser.name === "Edge") {
//       showErrorMessage("Please upgrade your Edge browser.");
//     }

//     if (DetectRTC.browser.name === "Safari") {
//       showErrorMessage("Safari does NOT supports getDisplayMedia API yet.");
//     }
//   }
// }

// /* on page load: get public rooms */
// var conferenceUI = conference(config);

// /* UI specific */
// var videosContainer =
//   document.getElementById("videos-container") || document.body;

// document.getElementById("share-screen").onclick = function () {
//    $("#screen-cast .close").click();
//     var roomName = document.getElementById("room-name") || {};
//     roomName.disabled = true;
//     captureUserMedia(function () {
//         conferenceUI.createRoom({
//             roomName: (roomName.value || "Anonymous") + " shared his screen with you",
//         });
//     });
//     // this.disabled = true;
// };
    // </script>
{% endblock %}
