{% extends "base.html.twig" %}

{% block title %}ClientBundle:Interventions:index{% endblock %}
{% block pagename %}{{ 'clients.list_of_interventions'|trans }}{% endblock %}

{% block body %}
    <div class="card card-pane">
        <div class="card-header">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#current-interv-pane" role="tablist">
                        {{ 'admin.interventions.in_progress'|trans }}
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ended-interv-pane" role="tablist">
                        {{ 'admin.interventions.completed'|trans }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="card-body">
			<div class="tab-content tab-space">
				<div class="tab-pane active" id="current-interv-pane">
                    {{ include('molecules/tables/list-interventions-table.html.twig', { interventions: interventions, modal: false, status: ['scheduled', 'reserved'] }) }}
                </div>

                <div class="tab-pane" id="ended-interv-pane">
                    {{ include('molecules/tables/list-interventions-table.html.twig', { interventions: interventions, modal: false, status: ['done'] }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
