<div class="modal fade" id="screen-cast" tabindex="-1" role="dialog"
     aria-labelledby="screenCaseLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title marg-b-10 color-header text-center text-uppercase">Share document</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="attendance-form">
                    <div class="marg-t-20 marg-b-20">
                        <div class="row">
                            <div class="text-center no-padding col-md-12">
                                Make sure the document you wan to share are already opened.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mx-auto">
				<button type="button" class="btn btn-deepmark" id="share-screen">Start sharing</button>
			</div>
        </div>
    </div>
</div>