{% set route = app.request.get('_route') %}

<div class="card-icon {{ route == 'admin_trainers_index' ? 'active' }}">
    <a href="{{ path('admin_trainers_index') }}"><i class="fal fa-user-tie"></i></a>
</div>

<div class="card-icon {{ route == 'admin_trainers_new' ? 'active' }}">
    <a href="{{ path('admin_trainers_new') }}"><i class="fal fa-plus"></i></a>
</div>

<div class="card-icon">
    <a href="{{ path('admin_trainers_upload') }}"><i class="fal fa-upload"></i></a>
</div>