<div class="col-md-12 flex--center marg-t-20">
    {% if visio %}
        <div id="visio">
            <iframe class="courses-quiz" src="{{ visio.joinUrl }}"></iframe>
        </div>
    {% endif %}
    {% if isBooked and expired %}
        {% if expired %}
            <label style="min-width: 200px" class="badge-label-gray pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
                <div class="row">
                    <div class="col-md-2 flex--center no-padding">
                        <img src="{{ asset('images/tv.png') }}">
                    </div>
                    <div class="col-md-10 flex--center white-space">
                        <span class="text-uppercase text-white font-size-25">{{ 'global.expired'|trans }}</span>
                    </div>
                </div>
            </label>
            <script>
                $(document).ready(function() {
                    $("#cancel-confirmation-title").html("{{ 'global.canceling_booking_tooltip'|trans|raw }}");
                    $("#cancel-booking").addClass("d-none");
                });
            </script>
        {% endif %}
    {% elseif not isLearned %}
        {% if booked %}
            <label id="countDownDiv" style="min-width: 250px" class="badge-deepmark-orangelight pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
                <div class="row">
                    <div class="col-md-2 flex--center no-padding">
                        <img src="{{ asset('images/tv.png') }}">
                    </div>
                    <div id="contentCountdown" class="col-md-10 flex--center white-space">
                        <span class="text-uppercase clock text-white font-size-25" id="clock"></span>
                        <script src="{{ asset('js/lib/jquery.countdown.min.js') }}"></script>
                        <script src="{{ asset('js/lib/moment-timezone-with-data.min.js') }}"></script>
                        <script>
                            $(document).ready(function() {
                                let clock = document.getElementsByClassName('clock');
                                let dayCount = '{{ booked.bookingDate|date("Y-m-d H:i:s") }}';
                                dayCount = moment.tz(dayCount, "{{ app.user.timezone.timeZone }}");
                                var cancel_confirmation = 0;
                                if (clock) {
                                    $('.clock').countdown(dayCount.toDate())
                                        .on('update.countdown', function (event) {
                                            var format = '%H:%M:%S';
                                            if (event.offset.totalDays < 2 && cancel_confirmation == 0) {
                                                $("#cancel-confirmation-title").html("{{ 'global.canceling_booking_tooltip'|trans|raw }}");
                                                $("#cancel-booking").addClass("d-none");
                                                cancel_confirmation = 1;
                                                console.log('update.countdown')
                                            }
                                            if (event.offset.totalDays > 0) {
                                                if ('{{ app.request.locale }}' === 'vi') {
                                                    format = '%-d {{ 'global.day'|trans }} ' + format;
                                                } else {
                                                    format = '%-d {{ 'global.day'|trans }}%!d ' + format;
                                                }
                                            }
                                            if (event.offset.weeks > 0) {
                                                if ('{{ app.request.locale }}' === 'vi') {
                                                    format = '%-w {{ 'global.week'|trans }} ' + format;
                                                } else {
                                                    format = '%-w {{ 'global.week'|trans }}%!w ' + format;
                                                }
                                            }
                                            if(event.offset.totalSeconds <= 600){//10 minutes
                                                $(this).countdown('stop');
                                                $("#contentCountdown").html("<a class='text-white' href=\"{{ path('learner_courses_video', {'id': booked.id }) }}\">{{ 'global.rejoin'|trans }}</a>");
                                                $("#countDownDiv").removeClass('badge-deepmark-orangelight');
                                                $("#countDownDiv").addClass('badge-label-green');
                                            }
                                            $(this).html(event.strftime(format));
                                        })
                                        .on('finish.countdown', function (event) {
                                            if (event.offset.totalDays < 2 && cancel_confirmation == 0) {
                                                $("#cancel-confirmation-title").html("{{ 'global.canceling_booking_tooltip'|trans|raw }}");
                                                $("#cancel-booking").addClass("d-none");
                                                cancel_confirmation = 1;
                                                console.log('finish.countdown')
                                            }

                                            $("#contentCountdown").html("<a class='text-white' href=\"{{ path('learner_courses_video', {'id': booked.id }) }}\">{{ 'global.rejoin'|trans }}</a>");
                                            $("#countDownDiv").removeClass('badge-deepmark-orangelight');
                                            $("#countDownDiv").addClass('badge-label-green');
                                        });
                                }
                            });
                        </script>
                    </div>
                </div>
            </label>
        {% endif %}
    {% else %}
        <label style="min-width: 200px" class="badge-label-green pad-t-20 pad-b-20 pad-l-20 border-radius-10 pad-r-20 font-size-18" >
            <div class="row">
                <div class="col-md-2 flex--center no-padding">
                    <img src="{{ asset('images/tv.png') }}">
                </div>
                <div class="col-md-10 flex--center white-space text-white">
                    {{ include('molecules/widgets/booking-status.html.twig', { appId: booked.status.appId }) }}&nbsp;!
                </div>
            </div>
        </label>
    {% endif %}
</div>