{% extends 'base.html.twig' %}

{% block pagename %}{{ 'admin.admin.edit_admin'|trans }}{% endblock %}

{% block body %}
    <div class="card card--user">
        <div class="card-header card-header-icon">
            <div class="card-icon">
                <img src="{{ asset('img/default-avatar.png') }}" alt="">
            </div>

            <a data-placement="top" data-toggle="tooltip" title="List" class="btn btn-deepmark-navy" href="{{ path('admin_admins_index') }}"><i class="fal fa-list"></i></a>

            <div style="display: inline-block;">
                <a id="btnDelete" data-placement="top" data-toggle="tooltip" title="Delete"
                   class="btn btn-deepmark-red"><i class="fal fa-trash"></i></a>
            </div>
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            {#{{ form_widget(form) }}#}
            <div class="card-body">
                <h2 class="marg-b-30">{{ 'admin.admin.edit_admin'|trans }}</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label class="required">{{ 'global.firstname'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.firstName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label class="required">{{ 'global.lastname'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.lastName) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label class="required">{{ 'global.entity'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.entity) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label class="required">{{ 'global.time_zone'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.timezone, {'attr': {'class': 'select2'}}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label>{{ 'global.mobile'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.mobilePhone) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label>{{ 'table.function'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.position) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label>{{ 'global.phone'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.fixedPhone) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label class="required">{{ 'global.email'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.email) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label>{{ 'admin.profile.password'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.plainPassword.first, {'required': false}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label>{{ 'admin.profile.rp_password'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.person.plainPassword.second, {'required': false}) }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 t-right">
                                <label for="profile_client_edit_otherEmail">{{ 'global.other_email'|trans }}</label>
                            </div>
                            <div class="col-8">
                                {{ form_widget(form.otherEmail) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="{{ path('admin_admins_index') }}" class="btn btn-deepmark-lightgray">{{ 'buttons.cancel'|trans }}</a>
                    <button type="submit" class="btn btn-orangelight">{{ 'buttons.update'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {{ include('molecules/modal/delete-user.html.twig', { url: path('admin_admins_delete',{id: profile.id }), isDelete: 1  }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
      $(document).ready(function(){
          $('#profile_client_edit_person_timezone').select2({
                  minimumResultsForSearch: 1
              }
          );
          $('[data-toggle="tooltip"]').tooltip();

          $('#btnDelete').on('click', function () {
              $('#deleteModal').modal('show');
          });
      })
    </script>
{% endblock %}
