{% extends 'email/email_base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'email.platform_registration'|trans|upper }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

 {% block logo %}
     <img width="200" height="200" style="width: 200px; height: 200px;"
          id="logo"
          src="{{ app.request.getSchemeAndHttpHost() }}/img/{{site_logo}}"
          alt="Deepmark logo"/>
     <br>
 {% endblock %}

{% block type %}
    <table style=" padding: 20px; width: 100%; text-transform: uppercase;
                background-color: #0076fe;
                text-align: center;">
        <tr style="text-align: center;">
            <td>
                <p style="margin: 0; color: #fff">
                    {{ 'resetting.informs_you'|trans }}
                </p>
                <p style="margin: 0; margin-top: 10px!important; color: #fff; font-size: 20px; font-weight: 900">
                    {{ 'resetting.reset_password'|trans }}
                </p>
            </td>
        </tr>
    </table>
    <br>
{% endblock %}

{% block content %}
    <table style="max-width:550px; min-width: 70%; padding: 10px; margin: auto; border: 1px solid #efefef; overflow-wrap: break-word; text-align: center">
        <tr style="padding:30px;">
            <td>
                <table width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p>{{ 'resetting.hello'|trans }} </p>
                            <p>{{ profile.person.username }}</p>
                            <p>
                                {{ 'resetting.ask_to_reset'|trans }} <br>
                                {{ 'resetting.click_create_pass'|trans }}
                            </p>
                            <br>
                        </td>
                    </tr>
                    <tr style="text-align: center;">
                        <table style="width: 100%">
                            <tr>
                                <td width="15%"></td>
                                <td style="text-align: center;background-color: #0076fe;height: 50px;" >
                                    <a href="{{ joinUrl }}?resetAccount={% if profile.person.lastLogin is null%}0{% else %}1{% endif %}" class="btn" style="color: #ffffff; text-decoration: none; font-size: 18px; text-transform: uppercase" name="btnInitInt">{{ 'resetting.reset_button'|trans }}</a>
                                </td>
                                <td width="15%"></td>
                            </tr>
                        </table>
                    </tr>
                    <tr>
                        <td style="text-align: center">
                            <br>
                            <p>{{ 'resetting.link_valid'|trans }}</p>
                            <p>{{ 'resetting.text_reset_pass'|trans }}</p>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


{% endblock %}
